
<div class="catalog">
    <!--<div class="catalog__dropmenu">
        <a href="javascript:void(0)" class="catalog__dropmenu__header" id="catalogDropmenuId1">Сначала новые модели</a>
        <ul class="catalog__dropmenu__list">
            <li class="catalog__dropmenu__item" id="catalogDropmenuId2">Сначала старые модели</li>
            <li class="catalog__dropmenu__item" id="catalogDropmenuId3">Сначала дорогие</li>
            <li class="catalog__dropmenu__item" id="catalogDropmenuId4">Сначала дешовые</li>
        </ul>
    </div>-->

    <div class="catalog__dropmenu">
        <select class="catalog__dropmenu__list">
            <option>Сначала новые модели</option>
            <option>Сначала старые модели</option>
            <option>Сначала дорогие</option>
            <option>Сначала дешовые</option>
        </select>
    </div>
    <div class="catalog__controls">
        <div class="catalog__radio radio radio-catalog">
            <input id="radioId1" type="radio" name="radios" value="1" class="radio-input radio-input1">
            <label for="radioId1" class="radio-label radio-label1"></label>
            <input id="radioId2" type="radio" name="radios" value="2" class="radio-input radio-input2" checked>
            <label for="radioId2" class="radio-label radio-label2"></label>
        </div>
    </div>
    <div class="catalog__list">
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/HG015.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/catalog2.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/WA232.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/hover_downscale.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/268.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/2009-11.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/269.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/EA020+EB022.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/6335-H.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/E06-H.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/2008-118A.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/Exposure-1.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/YTA51table.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/HG002-A.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
        <div class="catalog__item">
            <a href="#popup-position" class="catalog__link popup-open">
                <div class="catalog__img_wrap">
                    <img src="img/catalog/2008-A26.jpg" alt="" class="catalog__img">
                </div>
                <div class="catalog__info">
                    <div class="catalog__name">Диван из белой кожи</div>
                    <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                </div>
            </a>
            <a href="#" class="catalog__icon"></a>
        </div>
    </div>
    <a href="#" class="btn">Смотреть каталог</a>
</div>






