    <footer class="footer">
        <div class="contain">
            <nav class="menu">
                <ul class="list menu__list">
                    <li class="menu__item menu__item-dropmenu"><a href="catalog.html" class="link menu__link">Каталог</a></li>
                    <li class="menu__item menu__item-dropmenu"><a href="#" class="link menu__link">Покупателям</a></li>
                    <li class="menu__item"><a href="contacts.html" class="link menu__link">Контакты</a></li>
                    <li class="menu__item"><a href="order.html" class="link menu__link">Заказать мебель</a></li>
                </ul>
            </nav>
        </div>
        <div class="contain contain-padding">
            <div class="footer__logo"></div>
            <div class="footer__contact">
                ТВЦ г. Воронеж, ул. Ворошилова, 16. 3 эт<br>8(473) 261-47-22 • 8(905) 656-34-74<br>
                <a href="mailto:italianasia@mail.ru" class="footer__link link-mod3">italianasia@mail.ru</a>
            </div>
            <a href="#" class="juno">Сделала сайт <img src="img/juno.png" alt="Юнона" class="juno__img"></a>
            <div class="footer__copyright">© «Итальянская Азия», 2016</div>
        </div>
    </footer>
</div>
<script src="js/main.js"></script>
</body>
</html>