<a href="#x" class="overlay" id="popup-gallery"></a>
<div class="gallery">

    <div class="gallery__image">
        <div class="gallery__top"><a href="#popup-position" class="gallery__close icon-i-close"></a></div>
        <img src="img/catalog/4.jpg" alt="" class="gallery__imgbig">
        <div class="gallery__info">
            <div class="gallery__name">Диван из белой кожи</div>
            <div class="gallery__price">13 000 <span class="rouble">o</span></div>
            <a href="#" class="gallery__icon"></a>
        </div>

    </div>
    <div class="gallery__trumbs">
        <a href="#" class="gallery__trumb gallery__trumb-active">
            <img src="img/catalog/4.jpg" alt="" class="gallery__img">
        </a>
        <a href="#" class="gallery__trumb">
            <img src="img/catalog/E06-H.jpg" alt="" class="gallery__img">
        </a>



    </div>

</div>





