
<a href="#x" class="overlay" id="popup-position"></a>
<div class="popup popup-position">
    <div class="position__nav">
        <a href="#" class="position__arrow-left icon-i-arrow-g-left"></a>
        <a href="#" class="position__arrow-right icon-i-arrow-g-right"></a>
    </div>
    <div class="contain">
        <header class="header">
            <div class="contain contain-padding">
                <div class="header__address">
                    <div class="icon icon-i-addres"></div>
                    Воронеж, Ворошилова, 16, 3 этаж. • 8(473) 261-47-22
                </div>
                <a href="/" class="logo__link"><img src="img/logo.png" alt="Логотип Итальянская азия" class="logo"></a>
                <nav class="menu">
                    <ul class="list menu__list">
                        <li class="menu__item menu__item-dropmenu menu__item-dropmenu-active"><a href="catalog.html" class="link menu__link menu__link-dropmenu">
                            <span class="border-bottom">Каталог</span>
                        </a>
                            <ul class="list menu__sub">
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Гостиные</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link menu__sub-link-active">Обеденные группы</a>
                                </li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Спальни</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Аксессуары</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Камины</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Ванные комнаты</a>
                                </li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Фурнитура</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Зеркала</a></li>
                            </ul>
                        </li>
                        <li class="menu__item menu__item-dropmenu"><a href="#"
                                                                      class="link menu__link menu__link-dropmenu"><span class="border-bottom">Покупателям</span></a>
                            <ul class="list menu__sub">
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Как мы работаем</a>
                                </li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Отзывы</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Оптовикам</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Полезная
                                    информация</a></li>
                            </ul>
                        </li>
                        <li class="menu__item"><a href="contacts.html" class="link menu__link"><span class="border-bottom">Контакты</span></a></li>
                        <li class="menu__item"><a href="order.html" class="link menu__link">
                            <span class="border-bottom">Заказать мебель</span>
                            <div class="icon icon-i-heart2"></div>
                        </a></li>
                    </ul>
                </nav>
            </div>
        </header>


    <div class="position">
        <div class="position__header">
            <div class="title2 title-size">Exquisite And Natural Taste</div>
            <a href="#" class="link-mod">Состав коллекции</a>
        </div>

        <div class="position__card">
            <a href="#x" class="position__close icon-i-close"></a>
            <div class="position__top">
                <div class="position__name">Диван из белой кожи</div>
                <div class="position__price">13 000 <span class="rouble">o</span></div>
                <a href="#" class="position__icon"></a>
            </div>
            <div class="position__avatar slider-bullets slider-arrow2">
                <a href="#popup-gallery" class="position-zoom popup-open"><div class="icon-i-zoom"></div></a>
               <!-- <img src="img/catalog/photo.png" alt="" class="position__imgbig">-->
                <div id="sliderPosition">
                    <div class="content-slider position__imgbig" data-thumb="slider1.png">
                        <img src="img/catalog/slider1.png" alt="" class="position__imgbig">
                    </div>
                    <div class="content-slider position__imgbig" data-thumb="photo.png">
                        <img src="img/catalog/photo.png" alt="" class="position__imgbig">
                    </div>
                </div>
            </div>
            <!--<div class="position__trumbs">
                <a href="#" class="position__trumb">
                    <img src="img/catalog/4.jpg" alt="" class="position__img">
                </a>
                <a href="#" class="position__trumb">
                    <img src="img/catalog/E06-H.jpg" alt="" class="position__img">
                </a>
            </div>-->
            <div class="position__info">
                <ul class="position__menu">
                    <li class="position__item"><a href="#" class="position__link position__link-active">Описание</a></li>
                    <li class="position__item"><a href="#" class="position__link">Как купить</a></li>
                    <li class="position__item"><a href="#" class="position__link">Доставка и сборка</a></li>
                    <li class="position__item"><a href="#" class="position__link">Гарантии</a></li>
                </ul>
                <div class="position__text">
                    <div class="position__description">
                        Classic Natural, throw rug. Hand-woven from a soft and tactile blend of linen and organic
                        cotton, the makers of these rugs scoured Europe to find and restore traditional looms to create
                        beautiful throws. The use of traditional techniques with modern design creates a form of humble
                        luxury – it’s the quality not showiness that counts the most. Ideal for beds or lounges, these
                        crafted textiles will only get better with age.
                    </div>
                </div>
                <div class="position__table">
                    <div class="position__td">
                        <div class="position__col">Производитель: <span class="position__text">MCS</span></div>
                        <div class="position__col">Страна: <span class="position__text">Италия</span></div>
                        <div class="position__col"> Стиль: <span class="position__text">Современный</span></div>
                    </div>
                    <div class="position__td">
                        <div class="position__col">Материал: <span class="position__text">ЛДСП</span></div>
                        <div class="position__col">Цвет: <span class="position__text">белый, черный</span></div>
                        <div class="position__col">Объем: <span class="position__text">0.64</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="position__catalog catalog-controls-no catalog-btn-no">
            <div class="title3">Вам могут понравиться</div>
            <div class="catalog">
                <div class="catalog__controls">
                    <div class="catalog__radio radio radio-catalog">
                        <input id="radioId100" type="radio" name="radios00" value="1" class="radio-input radio-input1">
                        <label for="radioId100" class="radio-col radio-col1"></label>
                        <input id="radioId200" type="radio" name="radios00" value="2" class="radio-input radio-input2" checked>
                        <label for="radioId200" class="radio-col radio-col2"></label>
                    </div>
                </div>
                <div class="catalog__list">
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/HG015.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/catalog2.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/WA232.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/hover_downscale.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/268.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/2009-11.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/269.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/EA020+EB022.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/6335-H.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/E06-H.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/2008-118A.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/Exposure-1.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/YTA51table.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/HG002-A.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                    <div class="catalog__item">
                        <a href="#popup-position" class="catalog__link popup-open">
                            <div class="catalog__img_wrap">
                                <img src="img/catalog/2008-A26.jpg" alt="" class="catalog__img">
                            </div>
                            <div class="catalog__info">
                                <div class="catalog__name">Диван из белой кожи</div>
                                <div class="catalog__price">13 000 <span class="rouble">o</span></div>
                            </div>
                        </a>
                        <a href="#" class="catalog__icon"></a>
                    </div>
                </div>
                <a href="#" class="btn">Смотреть каталог</a>
            </div>

        </div>
    </div>
    </div>
</div>





