
<a href="#x" class="overlay" id="popup-post"></a>
<div class="popup popup-position">
    <div class="contain">
        <header class="header">
            <div class="contain contain-padding">
                <div class="header__address">
                    <div class="icon icon-i-addres"></div>
                    Воронеж, Ворошилова, 16, 3 этаж. • 8(473) 261-47-22
                </div>
                <a href="/" class="logo__link"><img src="img/logo.png" alt="Логотип Итальянская азия" class="logo"></a>
                <nav class="menu">
                    <ul class="list menu__list">
                        <li class="menu__item menu__item-dropmenu"><a href="catalog.html" class="link menu__link menu__link-dropmenu">
                            <span class="border-bottom">Каталог</span>
                        </a>
                            <ul class="list menu__sub">
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Гостиные</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Обеденные группы</a>
                                </li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Спальни</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Аксессуары</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Камины</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Ванные комнаты</a>
                                </li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Фурнитура</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Зеркала</a></li>
                            </ul>
                        </li>
                        <li class="menu__item menu__item-dropmenu"><a href="#" class="link menu__link menu__link-dropmenu"><span
                                class="border-bottom">Покупателям</span></a>
                            <ul class="list menu__sub">
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link"><span class="border-bottom">Как мы работаем</span></a>
                                </li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Отзывы</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Оптовикам</a></li>
                                <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Полезная
                                    информация</a></li>
                            </ul>
                        </li>
                        <li class="menu__item"><a href="contacts.html" class="link menu__link"><span class="border-bottom">Контакты</span></a></li>
                        <li class="menu__item"><a href="order.html" class="link menu__link">
                            <span class="border-bottom">Заказать мебель</span>
                            <div class="icon icon-i-heart2"></div>
                        </a></li>
                    </ul>
                </nav>
            </div>
        </header>


    <div class="position">
        <div class="position__nav">
            <a href="#" class="position__arrow-left icon-i-arrow-g-left"></a>
            <a href="#" class="position__arrow-right icon-i-arrow-g-right"></a>
        </div>
        <div class="position__header">
            <div class="title">Полезная информация</div>
            <a href="#" class="link-mod">все советы и рекомендации</a>
        </div>

        <div class="position__card">
            <a href="#x" class="position__close icon-i-close"></a>
            <div class="position__top">
                <div class="position__name">Как ухаживать за дубовой мебелью</div>
                <div class="position__price">13 февраля 2016</div>
            </div>
            <div class="position__avatar">
                <div class="position__avatar slider-arrow2">
                    <div id="sliderPost">
                        <div class="content-slider position__imgbig">
                            <img src="img/catalog/post.png" alt="" class="position__imgbig">
                        </div>
                        <div class="content-slider position__imgbig" >
                            <img src="img/catalog/photo.png" alt="" class="position__imgbig">
                        </div>
                        <!--<div class="content-slider position__imgbig" >
                            <img src="img/catalog/slider1.png" alt="" class="position__imgbig">
                        </div>
                        <div class="content-slider position__imgbig">
                            <img src="img/catalog/post.png" alt="" class="position__imgbig">
                        </div>-->

                    </div>
                </div>
            </div>

            <div class="position__info">
                <div class="position__label">
                    Прочтите инструкции производителя по уходу за дубовой мебелью. <br>
                    Если вы купили новый предмет мебели из дуба, то попросите в <br> магазине предоставить соответствующую брошюру.
                </div>
                <div class="position__text position__text-size ">

                        <p>Периодически обрабатывайте мебель специальным маслом. Одного раза в месяц будет достаточно
                            для защиты от трещин и создания влагостойкого слоя, но при ежедневном активном использовании
                            предмета мебели, например, стола, стула или бюро, обрабатывайте его маслом каждую неделю.
                            Если вы купили новый или подержанный предмет мебели из дуба и он выглядит сухим, то его
                            следует обработать маслом перед использованием, чтобы восстановить блеск и защитить
                            древесину.</p>

                        <p>Устраняйте повреждения и следы. Если на мебели появились повреждения или следы, то иногда их
                            можно устранить собственными силами, если это цельная древесина. Но вы не сможете
                            отремонтировать лакированную или фанерованную дубовую мебель.</p>
                        <ul>
                            <li>Чтобы устранить след или насечку, приложите к ним смоченную тряпку (желательно хлопчатобумажную).</li>
                            <li>Приложите к ткани кончик нагретого утюга, чтобы древесина поднялась.</li>
                            <li>Когда дефект высохнет, сошлифуйте его мелкой наждачной бумагой и обработайте маслом.</li>
                        </ul>

                        <p>Осторожно передвигайте дубовую мебель. Неважно, насколько крепкими и прочными выглядят
                            предметы мебели, для перемещения всегда поднимайте их (не перетягивайте) и затем осторожно
                            опускайте. Так вы сохраните целостность соединений.</p>

                </div>
            </div>
        </div>
        <div class="comment">
            <div class="title3">Комментарий к совету (6)</div>
            <div id="hypercomments_widget"></div>
            <script type="text/javascript">
                _hcwp = window._hcwp || [];
                _hcwp.push({widget:"Stream", widget_id: WIDGET_ID});
                (function() {
                    if("HC_LOAD_INIT" in window)return;
                    HC_LOAD_INIT = true;
                    var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage ||  "en").substr(0, 2).toLowerCase();
                    var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
                    hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/WIDGET_ID/"+lang+"/widget.js";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hcc, s.nextSibling);
                })();
            </script>
            <a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>
        </div>
    </div>
    </div>
</div>





