
<section class="video">
    <div class="video__absolute">
        <div class="video__wrap">
            <div class="video__contain">
                <h3 class="video__title">Как работает производство?</h3>

                <p class="video__text">Итальянская Азия — фирменные салоны азиатской мебели с итальянским дизайном.
                    Мебель
                    производится на современных фабриках Китая, что позволяет сильно сэкономить на конечной стоимости
                    продукции,
                    но не потерять в качестве изготовления. Видео демострирует процесс производства мебели.</p>
                <a href="#" class="video__link">Смотреть видео</a>
            </div>
        </div>
    </div>
</section>






