@font-face {
  font-family: 'ALSRubl';
  src: url('../fonts/ALSRubl.eot?#iefix') format('embedded-opentype'),  url('../fonts/ALSRubl.otf')  format('opentype'),
  url('../fonts/ALSRubl.woff') format('woff'), url('../fonts/ALSRubl.ttf')  format('truetype'), url('../fonts/ALSRubl.svg#ALSRubl') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaNew';
  src: url('../fonts/FuturaNewBook-Reg.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaNewBook-Reg.otf')  format('opentype'),
  url('../fonts/FuturaNewBook-Reg.woff') format('woff'), url('../fonts/FuturaNewBook-Reg.ttf')  format('truetype'), url('../fonts/FuturaNewBook-Reg.svg#FuturaNewBook-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FuturaNew';
  src: url('../fonts/FuturaNewBold-Reg.eot');
  src: url('../fonts/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaNewBold-Reg.woff2') format('woff2'),
  url('../fonts/FuturaNewBold-Reg.woff') format('woff'),
  url('../fonts/FuturaNewBold-Reg.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaNew';
  src: url('../fonts/FuturaNewMedium-Reg.eot');
  src: url('../fonts/FuturaNewMedium-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaNewMedium-Reg.woff2') format('woff2'),
  url('../fonts/FuturaNewMedium-Reg.woff') format('woff'),
  url('../fonts/FuturaNewMedium-Reg.ttf') format('truetype'),
  url('../fonts/FuturaNewMedium-Reg.svg#FuturaNewMedium-Reg') format('svg');
  font-weight: 500;
  font-style: normal;
}




@font-face {
  font-family: 'FuturaNewCondMedium-Reg';
  src: url('../fonts/FuturaNewCondMedium-Reg.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaNewCondMedium-Reg.otf')  format('opentype'),
  url('../fonts/FuturaNewCondMedium-Reg.woff') format('woff'), url('../fonts/FuturaNewCondMedium-Reg.ttf')  format('truetype'), url('../fonts/FuturaNewCondMedium-Reg.svg#FuturaNewCondMedium-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}





@font-face {
  font-family: 'FuturaNewDemi-Reg';
  src: url('../fonts/FuturaNewDemi-Reg.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaNewDemi-Reg.otf')  format('opentype'),
  url('../fonts/FuturaNewDemi-Reg.woff') format('woff'), url('../fonts/FuturaNewDemi-Reg.ttf')  format('truetype'), url('../fonts/FuturaNewDemi-Reg.svg#FFuturaNewDemi-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Bodoni72C';
  src: url('../fonts/Bodoni72C.eot');
  src: url('../fonts/Bodoni72C.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Bodoni72C.woff2') format('woff2'),
  url('../fonts/Bodoni72C.woff') format('woff'),
  url('../fonts/Bodoni72C.ttf') format('truetype'),
  url('../fonts/Bodoni72C.svg#Bodoni72C') format('svg');
  font-weight: normal;
  font-style: normal;
}





