/******************CATALOG-BIG*********************/

.catalog-big {
  margin: 90px 0 125px;
  letter-spacing: 35px;

}
.catalog-big__item {
  @extend %inb;
  text-decoration: none;
  letter-spacing: normal;
  margin-bottom: 39px;

}

.catalog-big__avatar {
  width: 460px;
  height: 300px;
  background: $color7;
  margin-bottom: 18px;
}

.catalog-big__img {
  width: 460px;
  height: 300px;

}

.catalog-big__name {
  text-decoration: none;
  color: $color6;
  @extend %fs24;
  font-family: 'FuturaNew';
  font-weight: 500;


}



/******************CATALOG-BIG END*****************/