/******************CATALOG*********************/

.catalog {
  text-align: center;
}

.section-catalog {
  position: relative;
  text-align: center;
}

.section-catalog .menu__sub {
  display: block;
  position: static;
  padding: 20px 0 0;
  visibility: visible;
  opacity: 1;

}

.section-catalog .link-mod {
  margin-top: 2px;
}

.section-catalog .menu__sub:before {
  display: none;
}

.section-catalog .menu__sub-item {
  padding: 0 11px 18px;
}

.section-catalog .menu__sub-link {
  color: $color1;
}

.section-catalog .menu__sub-link:hover,.section-catalog .menu__sub-link-active {
  font-family: "FuturaNew";
  color: $color3;
  letter-spacing: normal;
}



.catalog-controls-no .catalog__controls {
  display: none;
}

.catalog-btn-no .btn {
  display: none;
}

.catalog-info-no .catalog__info {
  display: none;
}

.catalog-info-no .catalog__icon {
  display: none;
}


.catalog__controls {
  position: relative;
}

.radio {
  position: absolute;
  top: -70px;
  right: 0px;
  width: 50px;
  text-align: right;
}

.radio-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 14px;
  height: 11px;
  margin-left: 8px;


}

.radio-label1 {
  background-image: url(../img/i-view.png);
}

.radio-label2 {
  background-image: url(../img/i-view2-a.png);
  position: relative;
}
.radio-label2:after {
  position: absolute;
  content: '';
  left: -7px;
  top:50%;
  margin-top: -6px;
  height: 11px;
  width: 1px;
  background: $color4;
}

.radio-input{
  display: none;
}


.radio-input1:checked + .radio-label1 {
  background-image: url(../img/i-view-a.png);

}

.radio-input2:checked + .radio-label2 {
  background-image: url(../img/i-view2.png);
}

.catalog__list {
  column-count: 3;
  width: 945px;
  text-align: center;
  margin: 0 auto;
}

.catalog__list.catalog__list-view {
  column-count: 2;
}

.catalog__list.catalog__list-view .catalog__item {
  width: 448px;
}


.catalog__item {
  display: inline-block;
  margin:0 0 27px;
  width: 288px;
  text-decoration: none;
  position: relative;

}



.catalog__link {
  display: block;
  text-decoration: none;
}

.catalog__img_wrap {
  position: relative;
  margin-bottom: 3px;
}


.catalog__img_wrap:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: -moz-linear-gradient(bottom, rgba(140,57,52,.5) 13.75%, rgba(140,57,52,0) 113.75%); /* gradient overlay */
  background-image: -o-linear-gradient(bottom, rgba(140,57,52,.5) 13.75%, rgba(140,57,52,0) 113.75%); /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, rgba(140,57,52,.5) 13.75%, rgba(140,57,52,0) 113.75%); /* gradient overlay */
  background-image: linear-gradient(bottom, rgba(140,57,52,.5) 13.75%, rgba(140,57,52,0) 113.75%); /* gradient overlay */
  transition: 0.3s ease-in-out;
  opacity:0;

}

/*.catalog-hover2 .catalog__img_wrap:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(140, 57, 52, 0.5);
  transition: 0.3s ease-in-out;
  opacity:0;
}

.catalog-hover2 .catalog__img_wrap:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 1px solid white;
  margin: 5px;
  transition: 0.3s ease-in-out;
  opacity:0;
}*/

.catalog-hover2 .catalog__img_wrap:hover:after,
.catalog-hover2 .catalog__img_wrap:hover:before,
.catalog__img_wrap:hover:before {
  opacity: 1;
}

.catalog__img {
  width: 100%;
  display: block;

}

.catalog__info {
  @extend %fs16;
  text-align: left;

}

.catalog__icon {
  position: absolute;
  right: 10px;
  bottom: 12px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-image: url('../img/i-heart2.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
}

.catalog__icon:hover {
  background-image: url('../img/i-heart.png');
}

.catalog__icon-active,.catalog__icon-active:hover {
  background-image: url('../img/i-heart-3.png');
}


.catalog__name {
  font-family: 'FuturaNew';
  font-weight: bold;
  color: $color3;
}

.catalog__price {
  font-family: 'FuturaNew';
  color: $color1;
}


.catalog .btn {
  margin-top: 48px;
  margin-bottom: 57px;
}


.catalog-dropmenu-yes .catalog__dropmenu {
  display: block;

}

.catalog__dropmenu {
  width: 240px;
  border:1px solid $color4;
  text-align: left;
  margin-bottom: 37px;
  margin-top: -10px;
  position: relative;
  box-sizing: border-box;
  display: none;

}





.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
}
.jq-selectbox__select {
  text-decoration: none;
  text-transform: uppercase;
  @extend %fs14;
  font-family: 'FuturaNew';
  font-weight: 500;
  color:$color3;
  padding: 13px 14px;
  display: block;
  cursor: pointer;
  line-height: 1;
  background: $color5;
}


.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jq-selectbox .placeholder {
  color: #888;
}

.jq-selectbox .sel {
  display: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 19px;
  right: -7px;
  width: 0;
  height: 0;
  border-top: 5px solid $color3;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA;
}
.jq-selectbox__dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 240px;
  border:1px solid $color4;
  border-top:0;
  box-sizing: border-box;
  margin-left: -1px;

}


.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}
.jq-selectbox ul {
  margin: 0;
  padding: 0;
}
.jq-selectbox li {
  text-decoration: none;
  text-transform: uppercase;
  @extend %fs14;
  font-family: 'FuturaNew';
  font-weight: 500;
  color:$color3;
  padding: 13px 14px;
  display: block;
  cursor: pointer;
  line-height: 1;
  background: $color5;
}
.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF;
}
.jq-selectbox li:hover {
  background-color: #08C;
  color: #FFF;
}
.jq-selectbox li.disabled {
  color: #AAA;
}
.jq-selectbox li.disabled:hover {
  background: none;
}
.jq-selectbox li.optgroup {
  font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}
.jq-selectbox li.option {
  padding-left: 25px;
}

.jq-selectbox li {
  text-decoration: none;
  text-transform: uppercase;
  @extend %fs14;
  font-family: 'FuturaNew';
  font-weight: 500;
  color:$color3;
  padding: 13px 14px;
  display: block;
  cursor: pointer;
  line-height: 1;
  background: $color5;
}

.jq-selectbox li:hover {
  background: $color6;
  color:$color5;
}


/******************CATALOG END*****************/