/******************COLLECTION*********************/

.collection__title {
  margin-top: 94px;
  margin-bottom: 21px;
}

.collection__image {
  position: relative;
  text-align: center;
}

.collection__imgwp {
  @extend %inb-m;
  position: relative;
}

.collection__avatar {
  @extend %inb;
  position: relative;
}

.collection__radio.radio {
  width: 55px;
  top: -66px;
}

.collection__radio .radio-label {
  width: 17px;
  height: 17px;
  margin-left: 4px;
  position: relative;
}

.collection__radio2 .radio-label1 {
  background-image: url(../img/icon-view5-a.png);
  background-position: 0;

}

.collection__radio2  .radio-label2 {
  background-image: url(../img/icon-view6-a.png);
  background-position: 0;


}

.collection__radio2  .radio-input1:checked + .radio-label1 {
  background-image: url(../img/icon-view5.png);
  background-position: 0;
}

.collection__radio2  .radio-input2:checked + .radio-label2 {
  background-image: url(../img/icon-view6.png);
  background-position: 0;
}

.collection__radio .radio-label2:after {
  left: -5px;

}

.collection__radio .radio-label1 {
  background-image: url(../img/i-view2-c-a.png);


}

.collection__radio  .radio-label2 {
  background-image: url(../img/i-view-c.png);



}

.collection__radio  .radio-input1:checked + .radio-label1 {
  background-image: url(../img/i-view2-c.png);

}

.collection__radio  .radio-input2:checked + .radio-label2 {
  background-image: url(../img/i-view-c-a.png);

}

.radio-bottom  .radio-input1:checked + .radio-label1:before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background: $color6;

}

.radio-bottom   .radio-input2:checked + .radio-label2:before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background: $color6;
}

.markers.markers-yes {
  display: block;
}

.markers {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.marker {
  width: 220px;
  position: absolute;
  text-align: center;

}

.marker-coordinates1 {
  left: 20%;
  top: 17%;
}

.marker-coordinates2 {
  left: 48%;
  top: 50%;
}

.marker-coordinates3 {
  left: 74%;
  top: 33%;
}




.marker__name {
  font-family: 'FuturaNew';
  font-weight: bold;
  color: $color5;
}

.marker__price {
  font-family: 'FuturaNew';
  color: #a7a7a7;
}


.marker__icon {
  position: relative;
  display: inline-block;
  z-index: 3;
  cursor: pointer;
}

.marker__label {
  width: 48px;
  height: 48px;
  left: -17px;
  transform: rotate(-135deg);
  background: $color2;
  z-index: 1;
  transition: transform .3s ease-out 0s;

}

.icon-i-plus {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
  background: url('../img/i-plus.png');
  height: 24px;
  width: 24px;

}

.marker__info {
  @extend %fs16;
  background: $color3;
  padding: 16px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 75px;
  z-index: 1;
  opacity: 0;
  transition: all .3s ease-out 0s;
}

.marker__icon:hover .marker__label {
  transform: rotate(45deg);
}

.marker__icon:hover + .marker__info {
  bottom: 50px;
  opacity: 1;
}

.collection__text {
  @extend %fs18;
  font-family: 'FuturaNew';
  width: 650px;
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 82px;
}

.collection__catalog {
  margin-top: 34px;
}

.collection__catalog .title {

}

.collection__catalog .catalog {
  margin-top: 30px;
}

.collection__other {
  margin-bottom: 110px;
  margin-top: 118px;
}

.collection__other .title3 {
  margin-left: 34px;
}

.collection__list {
  letter-spacing: 25px;

}
.collection__item {
  @extend %inb;
  text-decoration: none;
  letter-spacing: normal;
  margin-bottom: 43px;

}

.collection__avatar {
  width: 485px;
  height: 259px;
  background: $color7;
  margin-bottom: 9px;
}

.collection__img {
  width: 485px;
  height: 259px;
  display: block;

}

.collection__name {
  text-decoration: none;
  @extend %fs24;
  font-family: "Bodoni72C";
  color:$color3;



}

.collection__slider-none {
  display:none;
}

.collection__slider1 {
  margin-bottom: 267px;
}

.collection__slider2 {
  margin-bottom: 47px;
}

/******************COLLECTION END*****************/