/******************CONTACTS*********************/

.contacts {
  margin-top: 52px;
  margin-bottom: 70px;
}
.map {
  height:540px;
  background: $color7;
  margin-top: 27px;
}


.map__label {
  width: 640px;
  background: $color5;
  padding: 10px;
  position: relative;
  margin: -63px auto 67px;
  min-height: 239px;
  box-sizing: border-box;

  text-align: center;
}

.map__label:before {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin-left: -20px;
  z-index: -1;
  content: '';
  height: 176px;
  width: 100%;
  background: $color5;
  border: 20px solid $color7;
  border-top: 0;
}

.map__link {
  font-family: 'FuturaNew';
  font-weight: 500;
  color:$color6;
  @extend %fs18;
  letter-spacing: 1px;
}

.map__link:hover {
  text-decoration: underline;
}

.map__title {
  margin: 23px 0 25px;
  @extend %fs32;
}

.map__text {
  font-family: 'FuturaNew';
  font-size: 18px;
  margin-bottom: 13px;
}

.contacts__form .title3 {
  margin-left: 20px;
}

.contacts__form .form {
  margin-left: 10px;
  margin-top: -10px;
  display: inline-block;

}

.contacts__form .form__textarea {
  width: 451px;
}

.contact__question {
  width: 310px;
  font-family: 'FuturaNew';
  color: $color1;
  @extend %inb;
  @extend %fs18;
  margin: -7px 0 0 12px;
}

.contact__question p {
  margin-bottom: 30px;
}

.form {
  margin-top: 30px;
}

.form__row {
  margin: 10px 0 11px 10px;
  position: relative;
}

.form__label {
  @extend %fs18;
  font-family: 'FuturaNew';
  font-weight: 500;
  text-transform: uppercase;
  @extend %inb;
  width: 148px;
  margin-top: 11px;
}

.form__input {
  box-sizing: border-box;
  border-width: 3px;
  border-color: #e4e4e4;
  border-style: solid;
  width: 338px;
  height: 46px;
  font-family: 'FuturaNew';
  font-weight: 500;
  @extend %fs18;
  padding: 10px 18px;
  text-transform: uppercase;

}

.form__input:hover,.form__input:focus {
  outline: none;
}

.CHANGED.REQUIRED+.input__valid {
  display: block;
}

.CHANGED.REQUIRED {
  border-color: $color6;
}

.btn2-active {
  background: $color6;
}

.form-call-textarea .input__valid {
  width: 300px;
  margin-left: auto;
}

.input__valid {
  display: none;
  text-transform: uppercase;
  @extend %fs14;
  color: $color6;
  font-family: 'FuturaNew';
  font-weight: 500;
  padding: 5px 22px 0 17px;
  width: 250px;
  letter-spacing: 1px;
}

.form__textarea {
  height: 240px;
}

.form__submit {
  margin-top: 26px;
}



/******************CONTACTS END*****************/