/******************FOOTER*********************/

.footer {
  font-family: FuturaNew;
  color: $color1;
  margin-top: 80px;
}



.footer .menu {
  float: none;
  width: 100%;
  text-align: center;
  background: url("../img/down.png") no-repeat top;
  height: 138px;
}

.footer .menu__list {
  margin: 76px 0 0;
  position: relative;
}

.footer .menu__item {
  margin: 12px 44px 0;
}

.footer .menu__link {
  position: static;
  color:$color1;
}

.footer .menu__link:hover,.footer .menu__link-active {
  border: none;
  color:$color3;
}

.footer__logo {
  background: url("../img/logo-big.png") no-repeat center;
  height: 82px;
  margin-top: 76px;
  margin-bottom: 18px;
}

.footer__contact {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 60px;
}

.footer__copyright {
  font-size: 14px;
}





/******************FOOTER END*****************/