/******************GALLERY*********************/


.gallery__info {
  box-sizing: border-box;
  padding: 20px 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.gallery__icon {
  position: absolute;
  right: 16px;
  bottom: 32px;
  width: 28px;
  height: 26px;
  background: url('../img/heart-b.png') no-repeat;
}

.gallery__icon:hover {
  background: url('../img/heart-b-hover.png') no-repeat;
}


.gallery__icon.gallery__icon-active {
  background: url('../img/heart-b-fill.png') no-repeat;
}


.gallery__trumbs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 105px;
  padding-right: 20px;
  padding-left: 20px;


}
.gallery__trumb {
  text-decoration: none;
  width: 100%;
  background: $color4;
  margin-top: 19px;
  @extend %inb;
}

.gallery__trumb-active,.gallery__trumb-active:hover {
  outline: solid 2px $color6;
}



.gallery__img {
  max-width: 100%;
  display: block;

}


.gallery__image {
  position: relative;
  height: 100%;
  margin: 0 145px 0 0;
  overflow: hidden;
  border-right: 1px solid #e9e9e9;
}

.gallery__imgbig {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.gallery {

  display: block;
  opacity: 0;
  font-size: 14px;
  visibility: hidden;
  z-index: 99999;
  transition: opacity .5s , top .5s;
  background: $color5;
  top: 0;
  bottom: 0;
  position: fixed;
  right: 0;
  left: 0;


}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay:target+.gallery {
  opacity: 1;
  visibility: visible;
}

#popup-gallery {
  visibility: hidden;
  background: $color1;
  bottom: 0;
  opacity: 0;
  z-index: 10;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  cursor: default;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}


.gallery__top {
  text-align: right;
  height: 60px;
 /* margin: 0px 145px 0 0;
  border-right: 1px solid #e4e4e4;*/
}

.gallery .title3 {
  margin-bottom: 14px;
}

.gallery__text {
  margin-bottom: 28px;
}

.gallery__content {
  padding: 45px;
  font-family: 'FuturaNew';
  @extend %fs18;
}




.icon-i-close {
  display: inline-block;
  text-decoration: none;
  margin: 20px;
}

.icon-i-close:hover {
  background-image: url(../img/sprite.png);
  background-position: -72px 0px;
}


.gallery__name {
  font-family: 'FuturaNew';
  font-weight: bold;
  color: $color3;
  @extend %fs24;
}

.gallery__price {
  font-family: 'FuturaNew';
  color: $color1;
  @extend %fs24;
}




/******************MODAL END*****************/

/******************GALLERY END*****************/