/******************HEADER*********************/

.header {
  position: relative;
  height: 117px;
  width: 1000px;
  margin: 0 auto;
}

.header:before {
  left: 0;
  right: 0;
  height: 1px;
  background: $color4;
  bottom: -2px;
  z-index: 99999;
  position: absolute;
  content: '';
}

.logo__link {
  text-decoration: none;
  @extend %inb;
}

.logo {
  position: relative;
  z-index: 10000;
}

.header__address {
  margin:15px 0 26px;
  text-align: right;
  color: $color1;
  font-family: 'FuturaNew';
  @extend %fs14;
}

.icon-i-address {
  margin-right: 4px;
  margin-top: -2px;
}

.menu {
  @extend %inb-m;
  font-family: 'FuturaNewCondMedium-Reg';
  float: right;
}

.menu__item {
  @extend %inb-m;
  margin-left: 78px;
  margin-top: 12px;
}

.menu__link {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1px;
  position: relative;
}



.menu__item-dropmenu.menu__item-dropmenu-active .menu__link-dropmenu:before,
.menu__item-dropmenu.menu__item-dropmenu-active .menu__link-dropmenu:after,
.menu__item-dropmenu:hover .menu__link-dropmenu:before,
.menu__item-dropmenu:hover .menu__link-dropmenu:after {
    opacity: 1;
}

.menu__item-dropmenu.menu__item-dropmenu-active .menu__link-dropmenu:before,
.menu__item-dropmenu:hover .menu__link-dropmenu:before {
  border-bottom: 12px solid #CECECE;
  transition: 0.4s ease-in-out;
}

.menu__item-dropmenu .menu__link-dropmenu:before {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 50%;
    margin-left: -12px;
    border: 12px solid transparent;
    border-bottom: 12px solid $color5;
    z-index: 99999;

    opacity: 0;

}

.menu__item-dropmenu .menu__link-dropmenu:after {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 50%;
    margin-left: -11px;
    border: 11px solid transparent;
    border-bottom: 11px solid $color5;
    z-index: 99999;
    transition: 0.3s ease-in-out;
    opacity: 0;

}

.menu__item-dropmenu-active.menu__item-dropmenu-active-off .menu__link-dropmenu:before,
.menu__item-dropmenu-active.menu__item-dropmenu-active-off .menu__link-dropmenu:after{
  opacity: 0;
}

.menu__link-active .border-bottom:after {
  width: 100%;
}

/*.menu__link:hover {
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid $color2;
}*/

.icon-i-heart2 {
  vertical-align: baseline;
  height: 15px;
  width: 16px;
  background-image: url(../img/i-heart2.png);
  background-repeat: no-repeat;
}

.menu__link:hover .icon-i-heart2 {
  background-image: url(../img/i-heart.png);
  width: 16px;
  height: 15px;
}

.border-bottom {
  position: relative;

}

.border-bottom:after {
  position: absolute;
  content: '';
  bottom: -2px;
  height: 1px;
  left: 0;
  right: 0;
  width: 0px;
  margin: 0 auto;
  background:$color2 ;
  transition: width 0.3s ease-in-out;
  z-index: 10000;

}

.border-bottom:hover:after {
  width: 100%;
}

.menu__item-dropmenu:hover .menu__sub,.menu__item-dropmenu-active .menu__sub {
  /*display: block;*/
  visibility: visible;
  opacity: 1;
}

.menu__item-dropmenu-active.menu__item-dropmenu-active-off .menu__sub {
  opacity: 0;
  visibility: hidden;
}



.menu__sub {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 87px;
  padding: 52px 0 0;
  background: $color5;
  text-align: center;
  z-index: 9999;
  transition: 0.3s ease-in-out;
}

.menu__sub-size .menu__sub-item:first-child {
  margin-left: 176px;
}


.menu__sub-item {
  @extend %inb-m;
  padding: 0 13px 23px;
  position: relative;
}

.menu__sub-link {
  @extend %fs16;
  font-family: 'FuturaNew';
}

.menu__sub-link:hover{
  /*font-family: 'FuturaNewDemi-Reg';
  letter-spacing: -0.05em;*/
  color:$color6;

}

.header .menu__sub-link-active {
  font-family: 'FuturaNewDemi-Reg';
  color:$color3;
  font-weight: bold;
}





/******************HEADER END*****************/