/******************MODAL*********************/

.popup {

  display: block;
  opacity: 0;
  font-size: 14px;
  visibility: hidden;
  z-index: 99999;
  transition: opacity .5s , top .5s;

  top: 0;

  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;

}

.popup__wp {
  margin: auto;
  background: $color5;
  max-width: 640px;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay:target+.popup {
  opacity: 1;
  visibility: visible;
}

.overlay {
  visibility: hidden;
  background: $color1;
  bottom: 0;
  opacity: 0;
  z-index: 99999;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  cursor: default;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}


.popup__top {
  text-align: right;
  height: 60px;
  border-bottom: 1px solid $color7;
}

.popup .title3 {
  margin-bottom: 14px;
}

.popup__text {
  margin-bottom: 28px;
}

.popup__content {
  padding: 45px;
  font-family: 'FuturaNew';
  @extend %fs18;
}




.icon-i-close {
  display: inline-block;
  text-decoration: none;
  margin: 20px;
}

.icon-i-close:hover {
  background-image: url(../img/sprite.png);
  background-position: -72px 0px;
}




/******************MODAL END*****************/