/******************ORDER*********************/

.order {
  margin-top: 92px;

}

.order__form {
  margin-top: 28px;
  border: 20px solid $color7;
  box-sizing: border-box;
  height: 360px;
  font-size: 0;
  margin-bottom: 60px;
}

.order__form .btn2 {
  padding: 20px 35px;
  letter-spacing: 1px;
  margin-top: 21px;
}

.order__text {
  width: 620px;
  @extend %fs18;
  font-family: 'FuturaNew';
  font-weight: 500;
  width: 638px;
  margin: 41px auto 48px;

}



.order__form .form__row {
  @extend %inb;
  margin: 10px 0 1px 34px;
}

.order__form .form__label {
  display: block;
  margin-top: 0;
  margin-bottom: 11px;
  margin-left: 21px;
}

.order__form .form__input {
  width: 290px;
  height: 46px;
}

.order__liked {
  margin-top: 41px;
  text-align: center;
}

.link-mod2 {
  color:$color1;
  margin-top: 3px;
}

.order__liked .catalog {
  margin-top: 52px;


}

.order__liked .catalog__info {
  display: block;
}
.order__liked .btn {
  display: none;
}

/*.order__liked .catalog__icon {
  background-image: url(../img/sprite.png);
  background-position: -16px -58px;
  width: 16px;
  height: 15px;
}*/

.order__liked-clear .order__clear {
  display: block;
}

.order__liked-clear .catalog {
  display: none;
}

.order__clear {
  display: none;
}

.order__clear-img {
  margin: 53px 0 20px;
}

.order__clear-text {
  font-family: 'FuturaNew';
  font-weight: 500;
  @extend %fs18;
  margin-bottom: 11px;
}

.order__clear .icon-i-heart2 {
  @extend %inb-m;
}

.popup-call .popup__content {
  height: 372px;
}
.popup-call .form {
  margin-top: 0;
  text-align: right;
  visibility: visible;
}

.popup-call .form.form__call-hidden {
  visibility: hidden;
}

.popup-call .form__row {
  margin: 10px 0 0px 0px;
}

.form__call-text {
  margin-left: 14px;
}

.popup-call .form__textarea {
  height: 122px;
  width: 552px;
}

.popup-call .btn2 {
  padding: 16px 38px;
  margin-top: 5px;
}

.form__call-name {
  text-align: left;
  font-family: FuturaNew;
  font-weight: 500;
  @extend %fs18;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 14px;
}

.popup-liked .btn2 {
  padding: 16px 46px;
  border: none;
  margin-top: 23px;
}

.popup-liked .link-mod2 {
  letter-spacing: 0px;
  margin-left: 58px;
}



/******************ORDER END*****************/