/******************PAGE*********************/

$color1:rgba(80, 80, 80, 0.5);
$color2:#cf9f24;
$color3:rgb(86, 86, 86);
$color4:#e4e4e4;
$color5:#fff;
$color6:#ce2b37;
$color7:#e4e4e4;


%fs12 {
  font-size: 12px;
}

%fs14 {
  font-size: 14px;
}
%fs16 {
  font-size: 16px;
}
%fs18 {
  font-size: 18px;
}

%fs24 {
  font-size: 24px;
}

%fs32 {
  font-size: 32px;
}

%fs36 {
  font-size: 36px;
}

%fs64 {
  font-size: 64px;
}

%fs72 {
  font-size: 72px;
}

%inb {
  display: inline-block;
  vertical-align: top;
}
%inb-m {
  display: inline-block;
  vertical-align: middle;
}


.block-none {
  display: none;
}

.rouble {
  font-family: 'ALSRubl';
  font-weight: normal;
}

.page {
  color: $color3;
}

.wrapper {
  border:20px solid rgb(245, 224, 188);
  min-width: 1000px;
  padding: 0 0 15px;
}

.list {
  padding: 0;
}

.link {
  color: $color3;
  text-decoration: none;
}

.contain {
  width: 1000px;
  margin: 0 auto;
}

.contain-padding {
  width: 960px;
  padding: 0 20px;
}

.icon {
  @extend %inb-m;
}

/*#ornamentId {
  width: 1000px;
  height: 87px;
}*/

.title {
  font-family: 'FuturaNewCondMedium-Reg';
  @extend %fs72;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  line-height: 1;
}

.title2 {
  font-family:'Bodoni72C';
  font-weight: normal;
  text-align: center;
}

.title-size {
  @extend %fs64;
}

.title3 {
 @extend %fs36;
  font-family: 'FuturaNewCondMedium-Reg';
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-weight: normal;
}

.text {
  font-family: 'FuturaNewMedium-Reg';
  color: $color6;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.link-mod {
  font-family: 'FuturaNew';
  font-weight: 500;
  color: $color6;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 12px;
  display: inline-block;
  letter-spacing: 1px;
}

.link-mod3 {
  color: $color6;
  text-decoration: none;
}

.link-mod3:hover {
  text-decoration: underline;
}

.link-mod4 {
  color: $color6;
  text-decoration: none;
}

.link-mod5 {
  color: $color6;
  font-family: 'FuturaNew';
  @extend %fs16;
  position: relative;
}



.link-more:after {
  position: absolute;
  content: ' →';
  margin-left: 5px;
  text-decoration: none;
  font-family: 'Minion Pro';
  margin-top: 3px;
}

.link-mod5:hover {
 text-decoration: none;
}





.btn2 {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'FuturaNew';
  color: $color5;
  font-size: 18px;
  line-height: 24px;
  background: $color3;
  display: inline-block;
  padding: 20px 59px;
  border: none;

}



.btn {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'FuturaNew';
  color: $color5;
  font-size: 18px;
  line-height: 24px;
  background: $color6;
  display: inline-block;
 /* outline: 1px solid $color6;*/
  letter-spacing: 1px;
  transition: .1s ease-in-out;
  border: 3px solid #fff;
  padding: 21px 74px;
  position: relative;
  /*height: 74px;
  line-height: 74px;*/
  position: relative;

}

.btn:after {
  content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  bottom: -3px;
  right: -3px;
  outline: 1px solid $color6;
  transition: .3s;
}

.btn-mod{
  border: 3px solid #fff;
  padding: 20px 55px;
  letter-spacing: 1px;

}

.btn:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  outline: 1px solid $color6;

}



.btn:hover {
  background: #9d0909;


}

.juno {
  text-decoration: none;
  color:$color1;
  float: right;
  display: inline-block;
  font-size: 14px;
}

.juno__img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

.section-block {
  margin-top: 72px;
  font-family: 'FuturaNew';


}


.block {
  margin-top: 75px;

}

.block__item {
  margin-bottom: 40px;
}

.block__left {
  @extend %inb;
  width: 640px;
}


.block__right {
  @extend %inb;

  width: 284px;
  margin-left: 32px;
}

.block__title {
  margin-bottom: 15px;
}

.block__text {
  margin-top: 10px;
  margin-bottom: 10px;
  @extend %fs18;
  line-height: 24px;
}


#ornamentId1 {
  margin: 25px 0 30px;
}

#ornamentId2 {
 /* margin: 25px 0 30px;*/
}

.icon-i-close {
  background: url("../img/i-close.png");
  width: 20px;
  height: 20px;
  display: inline-block;

}

.icon-i-close:hover {
  background-image: url("../img/i-close_hover.png");


}

.icon-i-arrow-g-right {
   background-image: url('../img/i-arrow-g-right.png');
   width: 12px;
   height: 19px;
 }

.icon-i-arrow-g-left {
  background-image: url('../img/i-arrow-g-left.png');
  width: 12px;
  height: 19px;
}

.icon-i-zoom {
  background-image: url('../img/i-zoom.png');

  width: 23px;
  height: 23px;
}

.icon-i-addres {
  background-image: url('../img/i-addres.png');
  margin-top: -2px;
  width: 10px;
  height: 11px;
}


/******************PAGE END*****************/