/******************POSITION*********************/

.overflow-hidden {
  overflow: hidden;
}

.popup-position .contain {
  display: none;
}

.overlay:target+.popup.popup-position .contain  {
  display: block;
}

.overlay:target+.popup.popup-position {
  max-width: 100%;
  opacity: 1;
  background: rgba(241, 241, 241, 0.9);;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}



.position__nav a {
  display: block;
  position: absolute;
}

.position__nav {
  top: 607px;
  position: absolute;
  left: 0;
  right: 0;
}


.position__nav-fixed {
  position: fixed;
  top:50%;
}

/*.position__nav-fixed .position__arrow-right {
  right: 20px;
}*/


.position__close {
  position: absolute;
  /*left: 100%;
  margin-left: -53px;*/
  margin-top: -10px;

}

.position__close-fixed {
  top: 36px;
  position: fixed;
  margin-top: -18px;
}


.position__arrow-left {
  left: 23px;
  display: block;
}
.position__arrow-right {
  /*left: 100%;
  margin-left: -48px;*/
  display: block;
}

.popup-position .header {
  margin-top: -39px;
}

.popup-position .header:before {
  background: $color3;
}

.popup-position .menu__item-dropmenu-active .menu__link-dropmenu:before,
.popup-position .menu__item-dropmenu:hover .menu__link-dropmenu:before {
  bottom: -29px;
  border: 12px solid rgba(0, 0, 0, 0);
  border-bottom: 12px solid black;
}
.popup-position .menu__item-dropmenu-active .menu__link-dropmenu:after,
.popup-position .menu__item-dropmenu:hover .menu__link-dropmenu:after {
  bottom: -29px;
  border: 11px solid rgba(239, 124, 124, 0);
  border-bottom: 11px solid #E9E9E9;

}

.popup-position .menu__sub {
  background: transparent;
}

.position__header {
  text-align: center;
  margin-top: 87px;
}

.position__header .link-mod {
  margin-top: 0px;
}

.position__card {
 background: $color5;
  border-radius: 10px;
  margin: 50px auto 50px;
  max-width: 650px;
  background: #fff;
  padding: 26px 20px 100px;
  box-sizing: border-box;
}

.position__top, .position__info {
  position: relative;
}

.position__name {
  font-family: 'FuturaNew';
  font-weight: bold;
  color: $color3;
  @extend %fs24;
}

.position__price {
  font-family: 'FuturaNew';
  color: $color1;
  @extend %fs24;
}

.position__icon {
  position: absolute;
  right: 19px;
  top: 12px;
  width: 28px;
  height: 26px;
  background: url('../img/heart-b.png') no-repeat;
}

.position__icon:hover {
  background: url('../img/heart-b-hover.png') no-repeat;
}


.position__icon.position__icon-active {
  background: url('../img/heart-b-fill.png') no-repeat;
}

.position__avatar {
  position: relative;
  margin-top: 12px;
}

.content-slider.position__imgbig,
.position__imgbig {
  width: 610px;
  height: 408px;

}

.slider-bullets .orbit-bullets {
    position: static;
    list-style: none;
     left: 0;
     margin:0;
    padding: 0;
    overflow: hidden;
    bottom: auto;
}

.slider-bullets div.orbit-wrapper{height: auto !important}

.slider-bullets {

  margin-bottom: 30px;
}

.slider-bullets .orbit-bullets {

  list-style: none;
  left: 0;
  margin: 9px 0 16px;
  padding: 0;

}



.slider-bullets .orbit-bullets li.has-thumb {
  background: 0 0;
  width: 100px;
  height: 66px;
}

.slider-bullets .orbit-bullets li {
  display: inline-block;
  float: none;
  margin: 2px;
  margin-right: 8px;
  background-size: cover!important;
}

.orbit-bullets li.active.has-thumb {
  outline: 2px solid $color6;
  border: 0;
}

.position__avatar .orbit-numbers {
  text-align: right;
   bottom: -31px;;
  @extend %fs24;
  color:$color3;
  font-weight: 600;

}

.position__avatar .position-zoom {
  opacity: 0;
}

.position__avatar:hover .position-zoom {
  opacity: .3;
}

.position__avatar:hover .position-zoom:hover {
  opacity: .5;
}

.position-zoom {
  position: absolute;
  right: 9px;
  top: 9px;
  opacity: .3;
  border-radius: 50%;
  background-color: #000;
  display: block;
  padding: 13px;
  z-index: 9;
  transition:opacity .3s ease-in-out;

}

.position__trumbs {



}

.position__trumb {
  text-decoration: none;
  max-width: 105px;
  background: $color4;
  margin-top: 8px;

  @extend %inb;

}

.position__trumb:focus {
  outline: solid 2px $color6;
}

.position__img {
  max-height: 69px;
  display: block;

}

.position__info {
  @extend %fs16;
}

.position__menu {
  padding:0;
  margin-bottom: 31px;
  border-top: 1px solid #e4e4e4;
  padding-top: 17px;
}

.position__item {
  @extend %inb;
  margin-right: 31px;
}



.position__link {
  text-decoration: none;
  font-family: 'FuturaNewDemi-Reg';
  color:  #a7a7a7;
  padding-bottom: 2px;

}

.position__link:hover {
  color:$color3
}

.position__link-active {
  border-bottom: 1px solid $color2;
  color:$color3
}



.position__text {
  font-family: 'FuturaNew';
  @extend %fs16;
  line-height: 24px;

}

.position__table {
  margin-top: 16px;
}

.position__col{
  margin-bottom: 8px;
  font-family: 'FuturaNewDemi-Reg';
}

.position__td {
  @extend %inb;
  margin-right: 48px;
}

.popup-position .title3 {
  margin-bottom: 36px;
  margin-left: 36px;
}



/******************POSITION END*****************/


/*********POST**********************/


.position__label {
  font-family: 'FuturaNew';
  color: $color1;
  border-bottom: 1px solid #e4e4e4;;
  line-height: 1.5;
  padding-top: 7px;
  padding-bottom: 34px;
  margin-bottom: 31px;
}

.position__text-size {
  @extend %fs18;
}


.comment {
  width: 727px;
  margin: 0 auto;

}