/******************REVIEW*********************/

.review {
  font-family: 'Bodoni72C';
  @extend %fs24;

  margin-top: 38px;
  line-height: 1.8;
  margin-bottom: 84px;
}

.review__text {
  margin-bottom: 32px;
}

.review__info {
  @extend %fs18;
  line-height: 1.4;
}

.review__author:before {
  content: '— ';
}

.review__author:after {
  content: '.';
}

.quotes {
  font-family: 'Bodoni72C';
  position: relative;

}

.quotes:before {
  position: absolute;
  left: -6px;
  top: -83px;
  content: "“";
  font-size: 108px;
}

.quotes-big {
  font-family: 'Bodoni72C';
  position: relative;


}

.quotes-big:before {
  position: absolute;
  content: "“";
  z-index: 5;
  left: -17px;
  top: -253px;
  font-size: 607px;
  z-index: 5;
  color:#f2f2f2;
}

.quotes-big:after {
  position: absolute;
  line-height: 0.1;
  right: -12px;
  bottom: -119px;
  content: "”";
  font-size: 607px;
  z-index: 5;
  color:#f2f2f2;
}

/******************REVIEW END*****************/