/******************SLIDER REVIEWS*********************/

.section-reviews {
  margin-top: 110px;
  text-align: center;
}

.section-reviews .link-mod {
  margin-top: 0;
}

.section-reviews .content-slider {
  background: white;
  height: 360px;
}

.content-slider .review {
  margin: 60px auto 0;
  width: 680px;
}

.content-slider div {
  width: auto;
  height: auto;
}

.section-reviews div.slider-nav span {
  top:40%;
}




/******************SLIDER REVIEWS END*****************/