/******************SLIDER*********************/

.section-slider {
  margin-top: 2px;
  margin-bottom: 196px;
 /* background: black;
  height: 865px;*/
}


/* CSS for jQuery Orbit Plugin 1.2.3
 * www.ZURB.com/playground
 * Copyright 2010, ZURB
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php



/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */
.featured {
  width: 100%;
  height: 540px;
  background: black url('../img/loading.gif') no-repeat center center;
/*  background: $color4 url('../img/loading.gif') no-repeat center center;*/
  overflow: hidden; }
.featured>img,
.featured>div,
.featured>a { display: none; }




/* CONTAINER
   ================================================== */

div.orbit-wrapper {
  width: 1px;
  height: 1px;
  position: relative; }

div.orbit {
  width: 1px;
  height: 1px;
  position: relative;
  overflow: hidden }

div.orbit>img {
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

div.orbit>a {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  display: none; }

.orbit>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */


/* TIMER
   ================================================== */



div.timer {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .6;
  z-index: 1001; }

span.rotator {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -20px;
  background: url(../img/rotator-black.png) no-repeat;
  z-index: 3; }

span.mask {
  display: block;
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  overflow: hidden; }

span.rotator.move {
  left: 0 }

span.mask.move {
  width: 40px;
  left: 0;
  background: url(../img/timer-black.png) repeat 0 0; }

span.pause {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/pause-black.png) no-repeat;
  z-index: 4;
  opacity: 0; }

span.pause.active {
  background: url(../img/pause-black.png) no-repeat 0 -40px }

div.timer:hover span.pause,
span.pause.active {
  opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
  display: none;
  font-family:'FuturaNew';}

.orbit-wrapper .orbit-caption {
  /*background: $color5;*/

  z-index: 1000;
  color: $color3;
  text-align: center;
  padding: 7px 0;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 701px;
  left: 0;
  width: 640px;
  margin: 0 auto;
}

  .orbit-caption__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 239px;
    background: $color5;
    padding: 10px;
    box-sizing: border-box;
  }

.orbit-wrapper .orbit-caption:before {
  position: absolute;
  bottom: -21px;
  left: 0;
  right: 0;
  margin-left: -20px;
  background: $color7;
  z-index: -1;
  content: '';
  height: 176px;
  width: 100%;
  background: $color5;
  border: 20px solid $color7;
  border-top: 0;

}

.orbit-caption__header {
  color:$color5;
  font-family:'Bodoni72C';
  @extend %fs16;
  position: absolute;
  bottom: 676px;
  left: 0;
  right: 0;
}

.orbit-caption__title {
  @extend %fs32;
  margin: 27px 0 24px;
}


.orbit-numbers {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
  bottom: -160px;
  color:$color1;
  font-family: 'FuturaNew';
  font-weight: 500;
  @extend %fs16;

}


/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav {
  display: block }

div.slider-nav span {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  text-indent: -9999px;
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin-top: -32px;
  cursor: pointer; }

div.slider-nav span.right {
  background:rgba(86,86,86,.5) url(../img/arrow-right.png) no-repeat center;
  right: 20px; }

div.slider-nav span.left {
  background:rgba(86,86,86,.5) url(../img/arrow-left.png)no-repeat center;
  left: 20px; }

/* BULLET NAV
   ================================================== */

.orbit-bullets {
  position: absolute;
  z-index: 1000;
  list-style: none;
  bottom: -40px;
  left: 50%;
  margin-left: -50px;
  padding: 0; }

.orbit-bullets li {
  float: left;
  margin-left: 5px;
  cursor: pointer;
  color: #999;
  text-indent: -9999px;
  background: url(../img/bullets.jpg) no-repeat 4px 0;
  width: 13px;
  height: 12px;
  overflow: hidden; }

.orbit-bullets li.active {
  color: #222;
  background-position: -8px 0; }

.orbit-bullets li.has-thumb {
  background: none;
  width: 100px;
  height: 75px; }

.orbit-bullets li.active.has-thumb {
  background-position: 0 0;
  border-top: 2px solid #000; }



div.timer {
  width: 96%;
  height: 40px;
  overflow: hidden;
  position: absolute;
  opacity:1;
  top: 20px;
  right: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  z-index: 1001; }


.timer__left {
  position: absolute;
  width: 42%;
  left: 0;
}

.timer__right {
  position: absolute;
  width: 42%;
  right: 0;
}

.slider-full-line .timer__left,.slider-full-line .timer__right {
  width: 50%;
}




div.timer-line {
  width: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top:10px;
  opacity: 1;
  z-index: 1001;
  background:$color5;}

div.timer-line-left,div.timer-line2-left {
  left: 0px;

}

div.timer-line-right,div.timer-line2-right  {
  right: 0px;

}

div.timer-line2 {
  width: 100%;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top:10px;
  opacity: .6;
  z-index: 1001;
  background:$color5;}




.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -470px; }

.content-slider {
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: 0;
  height: 540px;
  width: 1000px;

}

.slider-view2 .content-slider {
  height: 760px;
  background: $color5;
}

.content-slider__link {
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  text-decoration: none;
  display: block;
}

.orbit div {
  height: 540px;
  width: 1000px;
}
.content h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 180px;
  color: #222;
  line-height: 50px;  }
.content h3 {
  text-align: center;
  font-size: 22px;
  color: #222; }

.slider-arrow1 div.slider-nav span.right {
  background: url('../img/icon-r-arrow-right.png') center no-repeat;
}

.slider-arrow1 div.slider-nav span.right:hover {
  background: url('../img/icon-r-arrow-right2.png') center no-repeat;
}

.slider-arrow1 div.slider-nav span.left {
  background: url('../img/icon-r-arrow-left2.png') center no-repeat;
}

.slider-arrow1 div.slider-nav span.left:hover {
  background: url('../img/icon-r-arrow-left.png') center no-repeat;
}



.slider-arrow2 div.slider-nav span.right {
  background: url('../img/i-arrow-a-right.png') 515px no-repeat;
  right: 0;
  width: 90%;
  opacity: 0;
  transition:opacity .3s ease-in-out;
}

.slider-arrow2:hover div.slider-nav span.right {
 opacity: .6;
}

.slider-arrow2:hover div.slider-nav span.right:hover {
  opacity: 1;
}



.slider-arrow2 div.slider-nav span.left {
  background: url('../img/i-arrow-a-left.png') 15px no-repeat;
  left: 0;
  width: 10%;
  transition:opacity .3s ease-in-out;
}

.slider-arrow2 div.slider-nav span.left {
  opacity: 0;
}

.slider-arrow2:hover div.slider-nav span.left {
  opacity: .6;
}


.slider-arrow2 div.slider-nav span.left:hover {
  opacity: 1;

}

.slider-view2 div.slider-nav span {
  top:auto;
  bottom: 0;

}




.slider-view2 .orbit-numbers {
  @extend %fs24;
  color:$color3;
  font-weight: 600;
  bottom: 20px;
  width: 50px;
  margin: 0 auto;

}

.slider-view2 div.slider-nav {
  display: block;
  position: relative;
  width: 252px;
  margin: 0 auto;
}



.slider-arrow2 div.slider-nav span {
  top:50%;
}

.slider-bullets.slider-arrow2 div.slider-nav span {
  top:32px;
  height: 408px;

}


.slider-full-line .orbit-ornament{
  height:22px;
  margin: 0 auto;
  margin-top: 11px;
  background:no-repeat -16px bottom url('../img/parkedpage.png') ;
  position: absolute;
  width: 152px;
  left: 0;
  right: 0;

}

.slider-full-line .orbit-ornament2 {
  background:no-repeat -16px bottom url('../img/parkedpage.png') ;
  width: 0%;
  height: 22px;
}

/******************SLIDER END*****************/