/******************VIDEO*********************/

.video {
  color:$color5;
  font-family: 'FuturaNew';
  font-size: 16px;
  min-height: 500px;

}

.video-margin1{
  margin-bottom: 120px;
  margin-top: 120px;
}

.video-margin2{
  margin-top: 73px;
}

.video__absolute {
  position: absolute;
  left: 0;
  right: 0;
  background:linear-gradient(90deg, #323232 0%, #434343 58%);
}

.video__wrap {
  max-width: 1200px;
  min-width: 1000px;
  padding-left: 62px;
  margin: 0 auto;
  background-size: contain;
  background: url(../img/4.jpg) right no-repeat;
  background-size: contain;
}

.video__title {
  font-family: 'Bodoni72C';
  font-size: 64px;
  font-weight: normal;
  margin-bottom: 21px;
}
.video__text {
  line-height: 2;
}

.video__contain {
  width: 760px;
  padding: 1px 0 135px;


}

.video__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'FuturaNew';
  font-size: 18px;
  color:$color5;
  position: relative;
  margin: 70px 0 0 107px;
  letter-spacing: 1px;
  display: inline-block;
}

.video__link:before {
  position: absolute;
  content: '';
  background:$color5;
  left: -95px;
  top: -20px;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transition: transform 0.2s ease-out 0s;
}

.video__link:hover:before {
  transform: rotate(180deg);

}

.video__link:after {
  position: absolute;
  content: '';
  border: 14px solid transparent;
  border-left: 21px solid #383838;
  left: -69px;
  top: -2px;
}


/******************VIDEO END*****************/