/******************WIDGET*********************/

.widget__header {
  font-family: 'FuturaNewCondMedium-Reg';
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 11px;

}

.widget__text {
  color:$color1;
  @extend %fs16;

}

.widget__email {
  position: relative;
}

.widget__input-email {
  text-transform: none;
  @extend %fs16;
  font-weight: normal;
  width: 279px;
  height: 48px;
  padding: 0px 72px 0px 18px;
  margin-left: 5px;
}

.widget .widget__btn {
  padding: 6px 16px;
  border-radius: 20px;
  position: absolute;
  right: 5px;
  top: 6px;
  @extend %fs16;
}

.widget-subscribe .widget__text {
  @extend %fs16;
  width: 252px;
  margin-top: 15px;
  width: 252px;
  line-height: 24px;
}

.widget-subscribe .form {
  margin-top: 20px;
}

.widget__new {
  @extend %fs16;
  font-family: 'FuturaNew';
  margin-top: 17px;
  line-height: 23px;
  margin-bottom: 46px;
}

.widget__title {
  color:$color6;
  @extend %fs16;
  font-family: 'FuturaNewDemi-Reg';
}

.widget__new .widget__text {
  color: $color3;
}

.widget__date {
  color:$color1;
  font-family: 'FuturaNew';
  margin-top: 16px;
}

.widget-review {
  width: 260px;
}

.widget-review .widget__text {
  @extend %fs18;
  margin-top: 25px;
  line-height: 24px;
}

.widget-review .link-mod5 {
  @extend %fs18;
}

.widget-review .btn2 {
  padding: 12px 52px;
  letter-spacing: 1px;
  margin-top: 59px;

}

/******************WIDGET END*****************/