//= template/head.html

<section class="section-block">
    <div class="contain contain-padding">
        <h1 class="title">Как мы работаем</h1>

        <div class="block">
            <div class="block__left">
                <article class="block__item">
                    <div class="block__title title3">Итальянская азия — </div>
                    <p class="block__text">Наша фирма многого достигла за 20 лет своей деятельности. Нас хорошо знают не только в России, но и за рубежом. Для многих поставщиков мы стали уважаемым, надежным и стабильным партнером. Именно поэтому мы готовы предлагать нашим клиентам уникальные по цене и качеству товары.</p>
                    <p class="block__text">Главная наша победа — это более 500 тысяч довольных покупкой клиентов, которые доверились нам и не пожалели об этом. Хочу выразить искреннюю благодарность всему коллективу СМС «Юнион» за многолетнюю преданность компании, профессионализм и полную самоотдачу.</p>
                </article>
                <article class="block__item">
                    <div class="block__title title3">Как купить?</div>
                    <p class="block__text">На сайте компании представлены все возможные модели доступные для покупки.
                        Также ознакомиться с качеством и характеристиками моделей можно у нас в выставочном зале.
                        Оформить заказ можно будет тамже, или воспользоваться возможностями нашего сайта.
                        Отберите понравившиеся вам модели на сайте, перейдите в <a href="#" class="link-mod5">раздел заказать мебель</a> и оставьте нам свой номер телефона для обратной связи. В течение нескольких минут вам перезвонит наш менеджер, оформит заявку или проконсультирует по оставшимся вопросам. </p>
                </article>
                <article class="block__item">
                    <div class="block__title title3">Оплата</div>
                    <p class="block__text">После оформление заказа вам потребуется его оплатить. Возможно оплата частями. Представленные позиции в выставочном зале доставляются вам на следующий день. Другие позиции требуется ожидать в течение 90 дней. За это время наши поставщики изготовят мебель и доставят к нам в город.</p>
                </article>
                <div class="video-margin2">
                    //= template/video.html
                </div>
            </div>
            <div class="block__right">
                <div class="widget widget-news">
                    <div class="widget__header">Новости</div>
                    <div class="widget__new">
                        <a href="#popup-widget-new" class="widget__link link-mod4 widget__title">Обновление каталога</a>
                        <div class="widget__text">Наша фирма многого достигла за 20 лет своей деятельности. Нас хорошо
                            знают не только в России, но и за рубежом. Для многих поставщиков мы стали уважаемым,
                            надежным и стабильным партнером. Именно поэтому мы готовы предлагать нашим клиентам
                            уникальные по цене и качеству товары.
                        </div>
                        <div class="widget__date">23 ферваля 2016</div>
                    </div>
                    <div class="widget__new">
                        <a href="#popup-widget-new" class="widget__link link-mod4 widget__title">Обновление каталога</a>
                        <div class="widget__text">Наша фирма многого достигла за 20 лет своей деятельности. Нас хорошо
                            знают не только в России, но и за рубежом. Для многих поставщиков мы стали уважаемым,
                            надежным и стабильным партнером. Именно поэтому мы готовы предлагать нашим клиентам
                            уникальные по цене и качеству товары.
                        </div>
                        <div class="widget__date">23 ферваля 2016</div>
                    </div>
                    <!--popup-widget__new-->
                    <a href="#x" class="overlay" id="popup-widget-new"></a>
                    <div class="popup popup-call">
                        <div class="popup__wp">
                            <div class="popup__top"><a href="#x" class="popup__close icon-i-close"></a></div>
                            <div class="popup__content">
                                <div class="form__call-text">
                                    <div class="title3">Обновление каталога</div>
                                    <div class="popup__text">
                                        Наша фирма многого достигла за 20 лет своей деятельности. Нас хорошо
                                        знают не только в России, но и за рубежом. Для многих поставщиков мы стали
                                        уважаемым,
                                        надежным и стабильным партнером. Именно поэтому мы готовы предлагать нашим
                                        клиентам
                                        уникальные по цене и качеству товары.
                                        <div class="widget__date">23 ферваля 2016</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/popup-widget__new-->
                </div>

            </div>
        </div>
    </div>
</section>

//= template/footer.html





