//= template/head.html

<section class="section-block">
    <div class="contain contain-padding">
        <h1 class="title">ПОЛЕЗНАЯ ИНФОРМАЦИЯ</h1>

        <div class="block">
            <div class="block__left">
                <article class="block__item">
                    <div class="block__title title3">Уход за дубовой мебелью</div>
                    <p class="block__text">Веками дуб остается распространенным материалом для изготовления столов,
                        стульев и
                        других предметов мебели благодаря своей прочности, долговечности и красоте. Но при этом дубовая
                        мебель может легко пачкаться, а также высыхать и трескаться в случае неправильного ухода. Уход
                        за
                        дубовой мебелью включает защиту от значительных колебаний температуры, влаги и тепла, а также
                        сохранение структурной целостности путем правильного перемещения. Ознакомьтесь с нашей статьей,
                        чтобы научиться уходу за дубовой мебелью.</p>
                    <a href="#popup-post" class="link-mod5 link-more">Читать продолжение</a>
                </article>
                <article class="block__item">
                    <div class="block__title title3">Уход за дубовой мебелью</div>
                    <p class="block__text">Веками дуб остается распространенным материалом для изготовления столов,
                        стульев и
                        других предметов мебели благодаря своей прочности, долговечности и красоте. Но при этом дубовая
                        мебель может легко пачкаться, а также высыхать и трескаться в случае неправильного ухода. Уход
                        за
                        дубовой мебелью включает защиту от значительных колебаний температуры, влаги и тепла, а также
                        сохранение структурной целостности путем правильного перемещения. Ознакомьтесь с нашей статьей,
                        чтобы научиться уходу за дубовой мебелью.</p>
                    <a href="#" class="link-mod5 link-more">Читать продолжение</a>
                </article>
                <article class="block__item">
                    <div class="block__title title3">Уход за дубовой мебелью</div>
                    <p class="block__text">Веками дуб остается распространенным материалом для изготовления столов,
                        стульев и
                        других предметов мебели благодаря своей прочности, долговечности и красоте. Но при этом дубовая
                        мебель может легко пачкаться, а также высыхать и трескаться в случае неправильного ухода. Уход
                        за
                        дубовой мебелью включает защиту от значительных колебаний температуры, влаги и тепла, а также
                        сохранение структурной целостности путем правильного перемещения. Ознакомьтесь с нашей статьей,
                        чтобы научиться уходу за дубовой мебелью.</p>
                    <a href="#" class="link-mod5 link-more">Читать продолжение</a>
                </article>
                <div class="video-margin1">
                //= template/video.html
                </div>
                <article class="block__item">
                    <div class="block__title title3">Уход за дубовой мебелью</div>
                    <p class="block__text">Веками дуб остается распространенным материалом для изготовления столов,
                        стульев и
                        других предметов мебели благодаря своей прочности, долговечности и красоте. Но при этом дубовая
                        мебель может легко пачкаться, а также высыхать и трескаться в случае неправильного ухода. Уход
                        за
                        дубовой мебелью включает защиту от значительных колебаний температуры, влаги и тепла, а также
                        сохранение структурной целостности путем правильного перемещения. Ознакомьтесь с нашей статьей,
                        чтобы научиться уходу за дубовой мебелью.</p>
                    <a href="#" class="link-mod5 link-more">Читать продолжение</a>
                </article>
                <article class="block__item">
                    <div class="block__title title3">Уход за дубовой мебелью</div>
                    <p class="block__text">Веками дуб остается распространенным материалом для изготовления столов,
                        стульев и
                        других предметов мебели благодаря своей прочности, долговечности и красоте. Но при этом дубовая
                        мебель может легко пачкаться, а также высыхать и трескаться в случае неправильного ухода. Уход
                        за
                        дубовой мебелью включает защиту от значительных колебаний температуры, влаги и тепла, а также
                        сохранение структурной целостности путем правильного перемещения. Ознакомьтесь с нашей статьей,
                        чтобы научиться уходу за дубовой мебелью.</p>
                    <a href="#" class="link-mod5 link-more">Читать продолжение</a>
                </article>
                <article class="block__item">
                    <div class="block__title title3">Уход за дубовой мебелью</div>
                    <p class="block__text">Веками дуб остается распространенным материалом для изготовления столов,
                        стульев и
                        других предметов мебели благодаря своей прочности, долговечности и красоте. Но при этом дубовая
                        мебель может легко пачкаться, а также высыхать и трескаться в случае неправильного ухода. Уход
                        за
                        дубовой мебелью включает защиту от значительных колебаний температуры, влаги и тепла, а также
                        сохранение структурной целостности путем правильного перемещения. Ознакомьтесь с нашей статьей,
                        чтобы научиться уходу за дубовой мебелью.</p>
                    <a href="#" class="link-mod5 link-more">Читать продолжение</a>
                </article>
                <a href="#" class="btn btn-mod">Загрузить еще советы</a>
            </div>
            <div class="block__right">
                <div class="widget widget-subscribe">
                    <div class="widget__header">Подписаться на обновления</div>
                    <form action="/" method="post" class="form" id="form-subscribe">
                        <div class="widget__email">
                            <input class="form__input form__input-email widget__input-email" id="form__input-email" placeholder="Email" name="email" type="email" data-rule-required='[{"key":"!regexp","value":"([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"}]'>
                            <input type="submit" class="btn2 widget__btn" value="Ок">
                            <a href="#popup-subscribe" type="submit" class="btn2 widget__btn" >Ок</a>
                        </div>
                    </form>
                    <div class="widget__text">
                        Оставьте нам свой электронный адрес. Мы будем информировать вас об опубликованных новых советах, рекомендациях и другой полезной информации
                    </div>
                    <!--popup-subscribe-->
                    <a href="#x" class="overlay" id="popup-subscribe"></a>
                    <div class="popup popup-call">
                        <div class="popup__wp">
                            <div class="popup__top"><a href="#x" class="popup__close icon-i-close"></a></div>
                            <div class="popup__content">
                                <div class="form__call-text">
                                    <div class="title3">Подписка оформлена</div>
                                    <div class="popup__text">
                                        Спасибо! Раз в месяц мы будем присылать на <a href="mailto:staytogether@mail.ru"
                                                                                      class="link-mod3">staytogether@mail.ru</a>
                                        письмо с новыми опубликованными статьями. Пожалуйста, добавьте адрес <a
                                            href="mailto:italianasia@mail.ru" class="link-mod3">italianasia@mail.ru</a>
                                        в адресную книгу, тогда письмо не будет попадать в спам.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/popup-subscribe-->
                </div>
            </div>
        </div>

        //= template/post.html
    </div>
</section>

//= template/footer.html





