//= template/head.html


<div class="catalog-big">
    <div class="contain contain-padding">
        <a href="#" class="catalog-big__item">
            <div class="catalog-big__avatar">
                <img src="img/catalog/IMG_7719.jpg" alt="Гостиные" class="catalog-big__img">
            </div>
            <div class="catalog-big__name">Гостиные</div>
        </a>
        <a href="#" class="catalog-big__item">
            <div class="catalog-big__avatar">
                <img src="img/catalog/IMG_7719.jpg" alt="Гостиные" class="catalog-big__img">
            </div>
            <div class="catalog-big__name">Гостиные</div>
        </a>
        <a href="#" class="catalog-big__item">
            <div class="catalog-big__avatar">
                <img src="img/catalog/IMG_7719.jpg" alt="Гостиные" class="catalog-big__img">
            </div>
            <div class="catalog-big__name">Гостиные</div>
        </a>
        <a href="#" class="catalog-big__item">
            <div class="catalog-big__avatar">
                <img src="img/catalog/IMG_7719.jpg" alt="Гостиные" class="catalog-big__img">
            </div>
            <div class="catalog-big__name">Гостиные</div>
        </a>
        <a href="#" class="catalog-big__item">
            <div class="catalog-big__avatar">
                <img src="img/catalog/IMG_7719.jpg" alt="Гостиные" class="catalog-big__img">
            </div>
            <div class="catalog-big__name">Гостиные</div>
        </a>
        <a href="#" class="catalog-big__item">
            <div class="catalog-big__avatar">
                <img src="img/catalog/IMG_7719.jpg" alt="Гостиные" class="catalog-big__img">
            </div>
            <div class="catalog-big__name">Гостиные</div>
        </a>
        <a href="#" class="catalog-big__item">
            <div class="catalog-big__avatar">
                <img src="img/catalog/IMG_7719.jpg" alt="Гостиные" class="catalog-big__img">
            </div>
            <div class="catalog-big__name">Гостиные</div>
        </a>
        <a href="#" class="catalog-big__item">
            <div class="catalog-big__avatar">
                <img src="img/catalog/IMG_7719.jpg" alt="Гостиные" class="catalog-big__img">
            </div>
            <div class="catalog-big__name">Гостиные</div>
        </a>


    </div>
</div>


//= template/footer.html


