//= template/head.html


<div class="collection">
    <div class="contain">
        <h1 class="collection__title title2 title-size">Exquisite And Natural Taste</h1>
        <div class="collection__image">
            <div class="collection__radio radio radio-collection radio-bottom ">
                <input checked id="radioId5" type="radio" name="radios13" value="1" class="radio-input radio-input1">
                <label for="radioId5" class="radio-label radio-label1"></label>
                <input  id="radioId6" type="radio" name="radios13" value="2" class="radio-input radio-input2">
                <label for="radioId6" class="radio-label radio-label2"></label>
            </div>

            <div class="collection__imgwp">
                <div class="markers markers-yes">
                    <div class="marker marker-coordinates1">
                        <div class="marker__icon">
                            <div class="icon-i-plus"></div>
                            <div class="marker__label"></div>
                        </div>
                        <div class="marker__info">
                            <div class="marker__name">Диван из белой кожи</div>
                            <div class="marker__price">13 000 <span class="rouble">o</span></div>
                        </div>
                    </div>
                    <div class="marker marker-coordinates2">
                        <div class="marker__icon">
                            <div class="icon-i-plus"></div>
                            <div class="marker__label"></div>
                        </div>
                        <div class="marker__info">
                            <div class="marker__name">Диван из белой кожи</div>
                            <div class="marker__price">13 000 <span class="rouble">o</span></div>
                        </div>
                    </div>
                    <div class="marker marker-coordinates3">
                        <div class="marker__icon">
                            <div class="icon-i-plus"></div>
                            <div class="marker__label"></div>
                        </div>
                        <div class="marker__info">
                            <div class="marker__name">Диван из белой кожи</div>
                            <div class="marker__price">13 000 <span class="rouble">o</span></div>
                        </div>
                    </div>
                </div>
                <img src="img/catalog/269.png" alt="" class="collection__imgbig"></div>
        </div>
        <div class="collection__text">
            Launched in 1935, our Original 1227™ pioneered Anglepoise® constant spring technology, delivering ultimate flexibility and perfect balance. Today this timeless, classic design enjoys iconic design status
        </div>
        <object id="ornamentId2" type="image/svg+xml" data="img/56.svg"></object>
        <div class="collection__catalog catalog-btn-no">
            <h2 class="title">Состав коллекции</h2>
            //= template/catalog.html
        </div>
        <div class="collection__other">
            <h3 class="title3">Другие коллекции</h3>
            <div class="collection__list">
                <a href="#" class="collection__item">
                    <div class="collection__avatar">
                        <img src="img/catalog/IMG_7717.png" alt="Exquisite Taste" class="collection__img">
                    </div>
                    <div class="collection__name">Exquisite Taste</div>
                </a>
                <a href="#" class="collection__item">
                    <div class="collection__avatar">
                        <img src="img/catalog/IMG_7566.png" alt="Erskine Road" class="collection__img">
                    </div>
                    <div class="collection__name">Erskine Road</div>
                </a>
                <a href="#" class="collection__item">
                    <div class="collection__avatar">
                        <img src="img/catalog/IMG_7722.png" alt="Beaufort Way" class="collection__img">
                    </div>
                    <div class="collection__name">Beaufort Way</div>
                </a>
                <a href="#" class="collection__item">
                    <div class="collection__avatar">
                        <img src="img/catalog/IMG_7714.png" alt="Johnston Road" class="collection__img">
                    </div>
                    <div class="collection__name">Johnston Road</div>
                </a>
            </div>
        </div>
    </div>
    <div class="collection__popup">
        //= template/gallery.html
        //= template/position.html
    </div>
</div>


//= template/footer.html




