//= template/head.html


<div class="contacts">
    <div class="contain">
      <h1 class="title">Контакты</h1>
        <!--<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <script type="text/javascript">
            ymaps.ready(init);
            var myMap,
                    myPlacemark;

            function init(){
                myMap = new ymaps.Map("map", {
                    center: [51.65555629, 39.17745200],
                    zoom: 10
                });

                myPlacemark = new ymaps.Placemark([55.75399400, 37.62209300], {
                    hintContent: 'Москва!',
                    balloonContent: 'Столица России'
                });

                myMap.geoObjects.add(myPlacemark);
            }
        </script>-->
        <div class="map" id="map">
<!--            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=AClEaaYtv5GTPGG8NcQLFQuE_snMiuEa&width=1000&height=540&lang=ru_RU&sourceType=constructor"></script>-->
           <!-- <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=AClEaaYtv5GTPGG8NcQLFQuE_snMiuEa&width=100%&height=540&lang=ru_RU&sourceType=constructor"></script>-->
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=AClEaaYtv5GTPGG8NcQLFQuE_snMiuEa&width=1000&height=540&lang=ru_RU&sourceType=constructor"></script>
        </div>
        <div class="map__label">
            <div class="title2 map__title">8 (473) 261-47-22 • 8 (905) 656-34-74</div>
            <div class="map__text">ТВЦ г. Воронеж, ул. Ворошилова, 16. 3 этаж<br>Работаем с 11 до 21 часа без перерыва, воскресенье — выходной</div>
            <a href="mailto:italianasia@mail.ru" class="link map__link">italianasia@mail.ru</a>
        </div>
    </div>
    <div class="contain contain-padding">
        <div class="contacts__form">
            <div class="title3">Задать вопрос</div>
            <form action="/" method="post" class="form form-question" id="form-question">
                <div class="form__row">
                    <label for="name" class="form__label">Имя</label>
                    <input class="form__input form__input-name" id="name" name="name" type="text" data-rule-required='[{"key":"!regexp","value":"^[a-zA-Zа-яА-Я -]{3,}$"}]'>
                </div>
                <div class="form__row">
                    <label for="form__input-phone" class="form__label">Телефон</label>
                    <input class="form__input form__input-phone" id="form__input-phone" name="mobil-phone" type="text" data-rule-required='[{"key":"!regexp","value":"^((8|\\+7)[\\- ]?)?(\\(?\\d{3}\\)?[\\- ]?)?[\\d\\- ]{7,10}$"}]'>
                </div>
                <div class="form__row">
                    <label for="form__input-email" class="form__label">Email</label>
                    <input class="form__input form__input-email" id="form__input-email" name="email" type="text" data-rule-required='[{"key":"!regexp","value":"([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"}]'>
                </div>

                <div class="form__row">
                    <label for="form__input-textarea" class="form__label">Сообщение </label>
                    <textarea class="form__input form__textarea form__input-textarea" id="form__input-textarea" name="textarea" data-rule-required='[{"key":"!regexp","value":"^[0-9a-zA-Zа-яА-Я -]{3,}$"}]'></textarea>
                </div>
                <div class="form__row">
                    <div class="form__label"></div>
                    <input type="submit" class="btn2 form__submit" value="Отправить сообщение">
                </div>
            </form>
            <div class="contact__question">
                <p>Для уточнения статуса вашего заказа сообщите пожалуйста ваше имя и номер заказа.</p>
                <p><a href="#" class="link link-mod4">Для оптовых покупателей</a> у нас действуют специальные условия</p>
            </div>
        </div>
    </div>
</div>


//= template/footer.html


