//= template/head.html


<div class="collection">
    <div class="contain">
        <h1 class="collection__title title">Обеденные группы</h1>
        <div class="collection__image">
            <div class="collection__radio2 radio radio-slider  radio-bottom ">
                <input checked id="radioId7" type="radio" name="radio-slider" value="1" class="radio-input radio-input1">
                <label for="radioId7" class="radio-label radio-label1"></label>
                <input  id="radioId8" type="radio" name="radio-slider" value="2" class="radio-input radio-input2">
                <label for="radioId8" class="radio-label radio-label2"></label>
            </div>
        </div>

        <div class="collection__sliders">
            <div class="contain">
                <div class="collection__slider1 slider-full-line">

                        <div class="featured" id="featured" style="background-image: url('img/catalog/slider1.png')";>
                            <div class="content-slider" data-caption="#sliderMainId1" style="background-image: url('img/catalog/slider1.png');">
                                <a href="collection.html" class="content-slider__link"></a>
                            </div>
                            <div class="content-slider" data-caption="#sliderMainId2" style="background-image: url('img/catalog/slider2.png');">
                                <a href="collection.html" class="content-slider__link"></a>
                            </div>
                            <div class="content-slider" data-caption="#sliderMainId3" style="background-image: url('img/catalog/2008-A26.jpg');">
                                <a href="collection.html" class="content-slider__link"></a>
                            </div>
                        </div>
                        <!-- Captions for Orbit -->
                        <span class="orbit-caption" id="sliderMainId1">
                            <div class="orbit-caption__info">
                                <div class="orbit-caption__header"></div>
                                <div class="orbit-caption__title title2 orbit-caption__fade">Exquisite And Natural Taste</div>
                                <div class="orbit-caption__fade">Изысканые материалы, красивые формы, модное совершенство</div>
                                <a href="group.html" class="link-mod">СМОТРЕТЬ КОЛЛЕКЦИЮ</a>
                                <div class="orbit-slider__numbers"></div>
                            </div>
                        </span>
                        <span class="orbit-caption" id="sliderMainId2">
                            <div class="orbit-caption__info">
                                <div class="orbit-caption__header"></div>
                                <div class="orbit-caption__title title2 orbit-caption__fade">Exquisite </div>
                                <div class="orbit-caption__fade">Изысканые материалы, красивые формы</div>
                                <a href="group.html" class="link-mod">СМОТРЕТЬ КОЛЛЕКЦИЮ</a>
                            </div>
                        </span>
                        <span class="orbit-caption" id="sliderMainId3">
                            <div class="orbit-caption__info">
                                <div class="orbit-caption__header"></div>
                                <div class="orbit-caption__title title2 orbit-caption__fade">And Natural Taste</div>
                                <div class="orbit-caption__fade">асивые формы, модное совершенство</div>
                                <a href="group.html" class="link-mod">СМОТРЕТЬ КОЛЛЕКЦИЮ</a>
                            </div>
                        </span>
                        </div>
                <div class="collection__slider2 collection__slider-none slider-view2 slider-arrow1">
                        <div id="featured2" class="">
                            <div class="content-slider">
                                <div class="collection__list">
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7717.png" alt="Exquisite Taste"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Exquisite Taste</div>
                                    </a>
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7717.png" alt="Exquisite Taste"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Exquisite Taste</div>
                                    </a>
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7714.png" alt="Johnston Road"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Johnston Road</div>
                                    </a>
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7566.png" alt="Erskine Road"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Erskine Road</div>
                                    </a>
                                </div>
                            </div>
                            <div class="content-slider">
                                <div class="collection__list">
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7717.png" alt="Exquisite Taste"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Exquisite Taste</div>
                                    </a>
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7717.png" alt="Exquisite Taste"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Exquisite Taste</div>
                                    </a>
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7566.png" alt="Erskine Road"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Erskine Road</div>
                                    </a>
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7714.png" alt="Johnston Road"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Johnston Road</div>
                                    </a>

                                </div>
                            </div>
                            <div class="content-slider">
                                <div class="collection__list">
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7717.png" alt="Exquisite Taste"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Exquisite Taste</div>
                                    </a>
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7722.png" alt="Beaufort Way"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Beaufort Way</div>
                                    </a>
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7566.png" alt="Erskine Road"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Erskine Road</div>
                                    </a>

                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7714.png" alt="Johnston Road"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Johnston Road</div>
                                    </a>
                                </div>
                            </div>
                            <div class="content-slider">
                                <div class="collection__list">
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7717.png" alt="Exquisite Taste"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Exquisite Taste</div>
                                    </a>
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7566.png" alt="Erskine Road"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Erskine Road</div>
                                    </a>
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7722.png" alt="Beaufort Way"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Beaufort Way</div>
                                    </a>
                                    <a href="collection.html" class="collection__item">
                                        <div class="collection__avatar">
                                            <img src="img/catalog/IMG_7714.png" alt="Johnston Road"
                                                 class="collection__img">
                                        </div>
                                        <div class="collection__name">Johnston Road</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>




        <object id="ornamentId2" type="image/svg+xml" data="img/56.svg"></object>
        <div class="collection__catalog catalog-dropmenu-yes">
            //= template/catalog.html
        </div>
    </div>
    <div class="collection__popup">
        //= template/gallery.html
        //= template/position.html
    </div>
</div>


//= template/footer.html




