//= template/head.html



    <div class="section section-slider">
        <div class="contain">
            <div id="featured" class="featured" style="background-image: url('img/catalog/slider1.png');">
                <div class="content-slider" data-caption="#sliderMainId1" style="background-image: url('img/catalog/slider1.png');">
                    <a href="collection.html" class="content-slider__link"></a>
                </div>
                <div class="content-slider" data-caption="#sliderMainId2" style="background-image: url('img/catalog/slider2.png');">
                    <a href="collection.html" class="content-slider__link"></a>
                </div>
                <div class="content-slider" data-caption="#sliderMainId3" style="background-image: url('img/catalog/2008-A26.jpg');">
                    <a href="collection.html" class="content-slider__link"></a>
                </div>
                <!-- <a href="#" data-caption="#htmloverflow">
                    <img src="dummy-images/overflow.jpg"   />
                </a> -->
            </div>
            <!-- Captions for Orbit -->
            <span class="orbit-caption" id="sliderMainId1">
                <div class="orbit-caption__info">
                    <div class="orbit-caption__header orbit-caption__fade">Обеденные группы</div>
                    <div class="orbit-caption__title title2 orbit-caption__fade">Exquisite And Natural Taste</div>
                    <div class="orbit-caption__fade">Изысканые материалы, красивые формы, модное совершенство</div>
                    <a href="collection.html" class="link-mod">СМОТРЕТЬ КОЛЛЕКЦИЮ</a>
                    <div class="orbit-slider__numbers"></div>
                </div>
            </span>
            <span class="orbit-caption" id="sliderMainId2">
                <div class="orbit-caption__info">
                    <div class="orbit-caption__header orbit-caption__fade">Гостинные</div>
                    <div class="orbit-caption__title title2 orbit-caption__fade">Exquisite </div>
                    <div class="orbit-caption__fade">Изысканые материалы, красивые формы</div>
                    <a href="collection.html" class="link-mod">СМОТРЕТЬ КОЛЛЕКЦИЮ</a>
                </div>
            </span>
            <span class="orbit-caption" id="sliderMainId3">
                <div class="orbit-caption__info">
                    <div class="orbit-caption__header orbit-caption__fade">группы</div>
                    <div class="orbit-caption__title title2 orbit-caption__fade">And Natural Taste</div>
                    <div class="orbit-caption__fade">асивые формы, модное совершенство</div>
                    <a href="collection.html" class="link-mod">СМОТРЕТЬ КОЛЛЕКЦИЮ</a>
                </div>
            </span>
        </div>
    </div>
    <div class="contain">
       <!-- <object id="ornamentId1" class="ornament" type="image/svg+xml" data="img/ornament13.svg"></object>-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1099 96.1">
            <defs>
                <style>
                    .a, .b {
                        fill: none;
                        stroke: #ce2b37;
                        stroke-width: 2px;
                    }

                    .a {
                        stroke-linecap: round;
                        stroke-linejoin: round;
                    }

                    .b {
                        stroke-miterlimit: 10;
                    }
                </style>
            </defs>
            <title>ornament3</title>
            <g>
                <path class="a" d="M549.1,1l-0.2.05A42.49,42.49,0,0,1,567,38.55a12.23,12.23,0,0,1-1.7,5.9c-1.2,1.7-3.6,2.8-5.4,2.1s-2.7-2.8-2.7-4.7a11,11,0,0,1,1.9-5.4c5.4-9.1,14.9-16,25.5-16.9s21.8,4.65,26.3,14.15,1.4,22.4-7.7,27.9c-3.4,2.1-7.6,3-11.2,1.4s-5.7-6.5-3.5-9.7c1.6-2.4,4.8-3.2,7.6-2.6s5.2,2.3,7.5,4c6.2,4.85,11.7,10.4,17.8,15.2s13,9.1,20.7,10.3,16.3-.8,21.4-6.7,5.4-15.8-.3-21.1c-5.5-5-14.3-4.4-21-1.1S630.2,60,624,64.2c-11.7,7.9-26.1,14.7-40.2,12.9-7.8-1-14.1-6.6-15.9-12.7" transform="translate(0 0)"/>
                <path class="a" d="M688,94.55c5.9,1.9,12.7-1.3,15.8-6.6s2.8-12.2.1-17.8-7.6-9.8-13.1-12.7a42.24,42.24,0,0,0-29.2-3.7c-11.7,2.8-21.6,10.5-31,18s-19,15.4-30.6,18.8-25.7,1-32.7-8.8" transform="translate(0 0)"/>
                <path class="a" d="M549,89.3c4.6-15.2,17.1-43.7,43.1-61.5,7.4-5.1,23.1-8.2,28.6-7.7A28.07,28.07,0,0,1,632,23.2c3.8,2,7,5.3,8.1,9.4s-0.1,9-3.5,11.5-9,1.9-11.3-1.7,0-9.3,4.2-9.8" transform="translate(0 0)"/>
            </g>
            <g>
                <path class="a" d="M530.1,64.4c-1.8,6.1-8.1,11.7-15.9,12.7-14.1,1.8-28.5-5-40.2-12.9-6.2-4.2-11.5-9.6-18.2-12.9s-15.5-3.9-21,1.1c-5.7,5.3-5.4,15.2-.3,21.1s13.7,7.9,21.4,6.7,14.6-5.5,20.7-10.3,11.6-10.4,17.8-15.2c2.3-1.7,4.7-3.4,7.5-4s6,0.2,7.6,2.6c2.2,3.2.1,8.1-3.5,9.7s-7.8.7-11.2-1.4c-9.1-5.5-12.2-18.4-7.7-27.9s15.7-15.1,26.3-14.2,20.1,7.8,25.5,16.9a11,11,0,0,1,1.9,5.4c0,1.9-.9,4-2.7,4.7s-4.2-.4-5.4-2.1a12.23,12.23,0,0,1-1.7-5.9A42.49,42.49,0,0,1,549.1,1" transform="translate(0 0)"/>
                <path class="a" d="M409.9,94.55c-5.9,1.9-12.7-1.3-15.8-6.6s-2.8-12.2-.1-17.8,7.6-9.8,13.1-12.7a42.24,42.24,0,0,1,29.2-3.7c11.7,2.8,21.6,10.5,31,18s19,15.4,30.6,18.8,25.7,1,32.7-8.8" transform="translate(0 0)"/>
                <path class="a" d="M468.5,32.6c4.2,0.5,6.5,6.2,4.2,9.8s-7.9,4.2-11.3,1.7-4.6-7.4-3.5-11.5,4.3-7.4,8.1-9.4a28.07,28.07,0,0,1,11.3-3.1c5.5-.5,21.2,2.6,28.6,7.7,26,17.8,38.5,46.3,43.1,61.5" transform="translate(0 0)"/>
            </g>
            <path class="b" d="M340,54.8H24a7,7,0,0,1-7,7H16.9c-3.9,0-15.8-6.9-15.9-7s11.9-7,15.9-7A7,7,0,0,1,24,54.7s0,0.07,0,.1" transform="translate(0 0)"/>
            <path class="b" d="M759,54.8h316a7,7,0,0,0,7,7h0.1c3.9,0,15.8-6.9,15.9-7s-11.9-7-15.9-7a7,7,0,0,0-7.1,6.9s0,0.07,0,.1" transform="translate(0 0)"/>
        </svg>
    </div>
    <section class="section section-catalog catalog-dropmenu-no catalog-controls-no catalog-info-no">
        <h2 class="title">Каталог мебели</h2>
        <a href="catalog.html" class="link-mod">Вся мебель</a>
        <ul class="list menu__sub">
            <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Избранное</a></li>
            <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Гостиные</a></li>
            <li class="menu__sub-item"><a href="#" class="link menu__sub-link menu__sub-link-active">Обеденные группы</a></li>
            <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Спальни</a></li>
            <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Аксессуары</a></li>
            <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Камины</a></li>
            <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Ванные комнаты</a></li>
            <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Фурнитура</a></li>
            <li class="menu__sub-item"><a href="#" class="link menu__sub-link">Зеркала</a></li>
        </ul>
    //= template/catalog.html


</section>



//= template/video.html

<section class="section section-reviews slider-arrow1">
    <div class="contain">
        <h2 class="title">Отзывы</h2>
        <a href="reviews.html" class="link-mod">Все отзывы</a>
        <div class="quotes-big">
            <div id="sliderReviews">
                <div class="content-slider">
                    <article class="review">
                        <p class="review__text">Долго мы ходили-выбирали-смотрели, прежде, чем купить именно эту мебель,
                            но по цене-качеству в нашем районе (Люберцы) другого не приглянулось. В итоге заказали шкафы
                            Елизавета-5 и полку из серии Элика, но она идеально смотрится с Елизаветой.</p>

                        <div class="review__info">
                            <div class="review__author">Елизавета Белочкина</div>
                            <div class="review__data">15 марта 2016а</div>
                        </div>
                    </article>
                </div>
                <div class="content-slider">
                    <article class="review">
                        <p class="review__text">Я уже делилась нашими неудачными поисками изготовителя кухни в Барнауле
                            Где не надо заказывать мебель . И вот знакомые порекомендовали Метро-мебель. Совершеннейшие
                            профессионалы! Компьютерный подбор, в 3Д формате, все образцы мебели перед глазами в салоне.
                            Милая девушка учла все пожелания.</p>

                        <div class="review__info">
                            <div class="review__author">Леди-Шарм</div>
                            <div class="review__data">03 марта 2016</div>
                        </div>
                    </article>
                </div>
                <div class="content-slider">
                    <article class="review">
                        <p class="review__text">Доброго времени суток уважаемые читатели Я очень переменчивый человек.
                            Не могу долго увлекаться чем-то одним или носить определенный стиль одежды, ну и конечно же
                            не могу долго жить с одним и тем же интерьером. Как ни крути, а душа требует перемен.</p>

                        <div class="review__info">
                            <div class="review__author">Наталья Сергеева,</div>
                            <div class="review__data">23 февраля 2016</div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
//= template/gallery.html
//= template/position.html
//= template/footer.html


