//= template/head.html


<div class="order">
    <div class="contain">
        <h1 class="title">Заказать мебель</h1>
        <div class="order__form">
            <form action="" method="post" class="form form-call" id="form-call">
                <div class="order__text">
                    Мы знаем как порой сложно выбрать один вариант из нескольких. Оставьте номер телефона. Позвоним в удобное время, ответим на все вопросы и поможемс выбором.
                </div>
                <div class="form__row">
                    <label for="form__input-name" class="form__label">Имя</label>
                    <input class="form__input form__input-name" id="form__input-name" name="form__input-name" type="text"  data-rule-required='[{"key":"!regexp","value":"^[a-zA-Zа-яА-Я]{3,}$"}]'>
                </div>
                <div class="form__row">
                    <label for="form__input-phone" class="form__label">Телефон</label>
                    <input class="form__input form__input-phone" id="form__input-phone" name="form__input-phone" type="text" data-rule-required='[{"key":"!regexp","value":"^((8|\\+7)[\\- ]?)?(\\(?\\d{3}\\)?[\\- ]?)?[\\d\\- ]{7,10}$"}]'>
                </div>
                <div class="form__row">
                    <a href="#popup-call" class="btn2 form__submit" >Перезвоните мне</a>
                <!--    <input type="submit" class="btn2 form__submit" value="Перезвоните мне">-->
                </div>
            </form>
        </div>
        <object id="ornamentId2" type="image/svg+xml" data="img/56.svg"></object>
        <div class="order__liked">
            <h2 class="title">Избранные модели (12)</h2>
            <a href="#popup-liked" class="link-mod link-mod2 ">Очистить избранное</a>
            //= template/catalog.html
            <div class="order__clear">
                <img class="order__clear-img" src="img/heart-big.png" alt="Большое сердце">
                <div class="order__clear-text">Отмечайте понравившиеся модели <span class="icon-i-heart2"></span>, чтобы потом их легко найти на этой странице</div>
                <a href="catalog.html" class="link-mod">Перейти в каталог мебели</a>
            </div>

        </div>
    </div>
    <div class="order__popup">
        <a href="#x" class="overlay" id="popup-call"></a>
        <div class="popup popup-call">
            <div class="popup__wp">
                <div class="popup__top"><a href="#x" class="popup__close icon-i-close"></a></div>
                <div class="popup__content">
                    <div class="form__call-text">
                        <div class="title3">Мы вам перезвоним в течение 15 минут</div>
                        <div class="popup__text">
                            Мы позвоним по номер 89290078989. Вы можете указать другое<br>удобное длявас время для
                            обратногозвонка.
                        </div>
                        <a href="#" class="link-mod link-other-time">Указать другое время для обратного звонка</a>
                    </div>
                    <form action="" method="post" class="form form__call-hidden form-call-textarea"
                          id="form-call-textarea">
                        <div class="form__call-name">Константин, когда вам перезвонить?</div>
                        <div class="form__row">
                            <textarea class="form__input form__textarea form__input-textarea" id="textarea"
                                      name="textarea"
                                      data-rule-required='[{"key":"!regexp","value":"^[0-9a-zA-Zа-яА-Я -]{3,}$"}]'></textarea>
                        </div>
                        <div class="form__row">
                            <div class="form__label"></div>
                            <input type="submit" class="btn2" value="Отправить заявку">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <a href="#x" class="overlay" id="popup-liked"></a>
        <div class="popup popup-liked">
            <div class="popup__wp">
                <div class="popup__top"><a href="#x" class="popup__close icon-i-close"></a></div>
                <div class="popup__content">
                    <div class="form__call-text">
                        <div class="title3">Очистить избранное?</div>
                        <div class="popup__text">
                            Вы потеряйте быстрый доступ ко всем 12 отобранным моделям.
                        </div>
                        <a href="#x" class="btn2">Нет, не очищать</a>
                        <a href="#x" class="link-mod link-mod2 order__liked-link-clear">Да, очистить избранное</a>
                    </div>
                </div>
            </div>
        </div>

        //= template/gallery.html
        //= template/position.html
    </div>
</div>


//= template/footer.html




