//= template/head.html

<section class="reviews section-block">
    <div class="contain contain-padding">
        <h1 class="title">Отзывы</h1>

        <div class="block">
            <div class="block__left">
                <article class="review">
                    <p class="review__text quotes">Долго мы ходили-выбирали-смотрели, прежде, чем купить именно эту мебель, но по цене-качеству в нашем районе (Люберцы) другого не приглянулось. В итоге заказали шкафы Елизавета-5 и полку из серии Элика, но она идеально смотрится с Елизаветой.</p>
                    <div class="review__info">
                        <div class="review__author">Елизавета Белочкина</div>
                        <div class="review__data">15 марта 2016а</div>
                    </div>
                </article>
                <article class="review">
                    <p class="review__text quotes">Я уже делилась нашими неудачными поисками изготовителя кухни в Барнауле Где не надо заказывать мебель . И вот знакомые порекомендовали Метро-мебель. Совершеннейшие профессионалы! Компьютерный подбор, в 3Д формате, все образцы мебели перед глазами в салоне. Милая девушка учла все пожелания.</p>
                    <div class="review__info">
                        <div class="review__author">Леди-Шарм</div>
                        <div class="review__data">03 марта 2016</div>
                    </div>
                </article>
                <article class="review">
                    <p class="review__text quotes">Доброго времени суток уважаемые читатели Я очень переменчивый человек. Не могу долго увлекаться чем-то одним или носить определенный стиль одежды, ну и конечно же не могу долго жить с одним и тем же интерьером. Как ни крути, а душа требует перемен.</p>
                    <div class="review__info">
                        <div class="review__author">Наталья Сергеева,</div>
                        <div class="review__data">23 февраля 2016</div>
                    </div>
                </article>
            </div>
            <div class="block__right">
                <div class="widget widget-review">
                    <a href="#popup-widget-review" class="btn2">Оставить отзыв</a>
                   <div class="widget__text">
                       Мы благодарны нашим покупателям за оставленные отзывы. Нам важно получать замечания и пожелания к нашей работе. Это помогает нам становиться лучше.
                   </div>
                    <div class="widget__text">
                       Также вы можете отправить свой отзыв на почту <a href="mailto:italianasia@mail.r" class="link-mod5">italianasia@mail.ru</a>
                   </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--popup-widget-review-->
<a href="#x" class="overlay" id="popup-widget-review"></a>
<div class="popup">
    <div class="popup__wp">
        <div class="popup__top"><a href="#x" class="popup__close icon-i-close"></a></div>
        <div class="popup__content">
            <div class="form__call-text">
                <div class="title3">Оставить отзыв</div>
                <div class="popup__text">
                    <form action="/" method="post" class="form form-question" id="form-question">
                        <div class="form__row">
                            <label for="name" class="form__label">Имя</label>
                            <input class="form__input form__input-name" id="name" name="name" type="text"
                                   data-rule-required='[{"key":"!regexp","value":"^[a-zA-Zа-яА-Я -]{3,}$"}]'>
                        </div>
                        <div class="form__row">
                            <label for="form__input-phone" class="form__label">Телефон</label>
                            <input class="form__input form__input-phone" id="form__input-phone" name="mobil-phone"
                                   type="text"
                                   data-rule-required='[{"key":"!regexp","value":"^((8|\\+7)[\\- ]?)?(\\(?\\d{3}\\)?[\\- ]?)?[\\d\\- ]{7,10}$"}]'>
                        </div>
                        <div class="form__row">
                            <label for="form__input-email" class="form__label">Email</label>
                            <input class="form__input form__input-email" id="form__input-email" name="email" type="text"
                                   data-rule-required='[{"key":"!regexp","value":"([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"}]'>
                        </div>

                        <div class="form__row">
                            <label for="form__input-textarea" class="form__label">Сообщение </label>
                            <textarea class="form__input form__textarea form__input-textarea" id="form__input-textarea"
                                      name="textarea"
                                      data-rule-required='[{"key":"!regexp","value":"^[0-9a-zA-Zа-яА-Я -]{3,}$"}]'></textarea>
                        </div>
                        <div class="form__row">
                            <div class="form__label"></div>
                            <input type="submit" class="btn2 form__submit" value="Отправить отзыв">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/popup-widget-review-->

//= template/footer.html





